
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_Table_01{background-color:#98d3d1;border-radius:3px;border:1px solid #98d3d1 ! important;}


#ID_Table_01 tr td.liner_top{ margin: 0;padding: 0;}
#ID_Table_01 tr td ul{margin-left:8px;padding:0 0 0 15px;}