/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.mtable tr td, .mtable tr td p{
	padding:0px !important; margin:0px !important;}
	
#value16{width:160px;}