body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
}

p{
	background-color: #C3D3FD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 1px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 300px;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-left-color: #999;
	border-top-width: thin;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
}

#flashcontent {
	height: 252px;
	width: 450px;
	position:absolute;
	left:30px;
	top:290px;	
}
.myloader {
	display: none;
}
#myloader {
	position: absolute;
	left: 420px;
	top: 255px;
	display: none;	
}


#myloader2 {
	position: absolute;
	left: 420px;
	top: 255px;
	display: none;	
}


.container {
	width: 1200px;
	height: 525px;
	top: 30px;
	position: relative;
	padding: 5px;
	margin: auto;
	padding-bottom: 25px;
	border-style:solid;
border-width:5px;
border-color:#c2252e;
}
#moviewindow {
	width: 1200px;
	height:520px;
	position: absolute;
	background-color:#fff;
	left: 0px;
	top: 0px;
	margin-top: 35px;
	margin-left:4px;
}


#xmlwindow {
    background-color: #FFFFFF;

    color: black;
    display: block;
    float: left;
    height: 508px;
    left: 5;
    margin-left: 30px;
    margin-top: 0px;
    overflow-y: auto;
    padding-left: 12px;
	padding-top:12px;
    position: relative;
    text-align: left;
    top: 0;
    width: 664px;
	border-left:solid 3px #C51230;
}

#flashwindow {
	width: 470px;
	height:400px;
	position: relative;
	display:block;
	float:left;
	
	margin-top:12px;
	margin-left:20px;
	border:#996 2px;
}






#27 {
border: 1px solid red;
}

.normalpara-footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 950px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}.container .foot {
	position: absolute;
	left: 11px;
	top: 973px;
	width: 542px;
	height: 59px;
}


.bgcolor:hover{
	background-color: #FC3;}

.bgcolor{
		cursor:pointer;
	background-color:white;
	width: 600px;
	margin-right: 20px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	float: right;
}


.bgcolor2{
	
	background-color:orange;
	
}

.bgcolor3{
	
	background-color:grey;
	
}

.changebg{
	background-color: #FC3;
}


.changewhite{
	background-color: #FFF;
}

#moviewindow > #24{
	color:red !important;}
	
	#introimage {
	display: 34;
	position: relative;
	left: 100px;
	top: 40px;
	right: auto;
	bottom: auto;
	width: 501px;
	border: solid 2px #cccccc;
	border-radius:2px;
	box-shadow:inset #CC9;
}
