
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2{letter-spacing:-1.6px;padding-left:3px !important;}
.orange{margin: 0 0 0 -6px;
    padding: 0 0 0 6px;
    width: 97.2%;}
	
#ID_router_txt3{padding:9px 0 0 4px !important;}