
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#router_text1 span {background-color:#FACCA8;}
#router_text2 span {background-color:#FACCA8;}
#router_text3 span {background-color:#FACCA8;}
#ID_s1_txt01 {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;

}
