
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#staticTxt{font-weight:bold;}

.glow{letter-spacing:-0.1px;}
#ID_MS{line-height:10px !important;}
#ID_C3Numb{letter-spacing:-0.5px;}
#ID_AG{line-height:11px; letter-spacing:-0.4px;}