
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s2_txt02,#ID_s2_txt04,#ID_s2_txt08,#ID_s2_txt06{border:2px solid #00918E;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:4px 0 4px 0px;
background:#CCE9E7;}

#ID_s2_txt10,#ID_s2_txt12,#ID_s2_txt13{width:178px !important;}