
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt05 { background-color:#FDE6D4; border:2px solid #F68026; padding:5px; border-radius:5px;}