
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#router_text1{padding-left:2px;letter-spacing:-.95px}