
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#txt_q5
{
	line-height:11px !important;
}
#txt_col1{letter-spacing:-.4px;padding:0 2px;}
.font11px{font-size:11px !important;}