
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden;
}
#flashContent {
	width:98%;
	height:98%;
	/*border:1px solid #F00;*/
}

/* ============== NEW STYLES =============== */
.activityTitle{
	font-size:11px !important;
}
.labelTitle{
	color:#fff !important;
	font-size:11px !important;
}
#ipAddress_txt{
	color:#000 !important;
	font-size:14px !important;
	font-weight:bold !important;
}
#timer_txt{
	color:#000 !important;
	font-size:18px !important;
	font-weight:bold !important;
}
.pcIMG{
	cursor:pointer;
}