
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

/*#ID_txt01,#ID_txt02,#ID_txt03,#ID_txt04,#ID_txt05,#ID_txt07,#ID_OSInum01,#ID_OSInum06,#ID_OSInum03,#ID_OSInum04,#ID_OSInum05,#ID_OSInum07{opacity:0.34 !important;
filter:alpha(opacity=34) !important;}*/
