
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
@media only screen and (device-width: 768px) {

  #ID_txt04{top:1px !important;left:3px !important;position:absolute;}
  #ID_txt03{top:-1.5px !important;left:3px !important;position:absolute;}
}