
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
	min-height: 390px;
	min-width:470px;
}
#flashContent {
	width:98%;
	height:98%;
}
.grayCallOut{
border:1px solid #333333;

padding:2px 0 3px 3px;
background:#cccccc;
-moz-box-shadow: 3px 6px 2px #888;
-webkit-box-shadow:3px 6px 2px #888;
box-shadow: 3px 6px 2px #888;
}
