
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt09,#ID_txt10,#ID_txt11{
	  text-shadow: 1px 0px 0px #ffffff , 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 
  0px -1px 0px #ffffff, 1px 4px 5px #ffffff;
}
#text_18{
	font-family:"courier new";
	letter-spacing:-0.8px;

}