
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

/*#router_txtOne,#router_txtTwo,#router_txtThree,#router_txtFour{padding-top:1px ! important;padding-left:1px ! important; font-family:Courier New ! important}
#router_txtTwo,#router_txtThree{width:404px ! important}
#routertext2{float:left;width:595px;}
#routertext2 span.col1{float:left;width:190px}
#routertext2 span.col2{float:left;width:110px}
#routertext2 span.col3{float:left;width:30px}
#routertext2 span.col4{float:left;width:45px}
#routertext2 span.col5{float:left;width:155px}
#routertext2 span.col6{float:left;width:60px}
#router_txtFour{font-size:10px ! important;}*/