
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:100%;
}
#flashContent {
    width:98%;
    height:98%;
   
}

#text1{
    border:2px solid #918F90;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:3px;
    background:#F3F3F3;
    
}
#text2{
    border:2px solid #918F90;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:3px;
    background:#F3F3F3;
    
}
#router_txt{letter-spacing: -0.6px;
    line-height: 11.7px;}
	#router_txt{margin-left:2px;}