
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
p{
	margin:0px;
}
#ID_bubble02{
	height: 45px;
	line-height: 11px;
}
#ID_table-label6{
	top: 2px !important;
}