
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}


/*#ID_txt01,#ID_txt03,#ID_txt05{background-color:#e9e7e8;border:2px solid #7B797A;padding:7px 0px;border-radius:5px}
#ID_txt02,#ID_txt04,#ID_txt06{background-color:#E0D5E6;border:2px solid #652C8A;padding:7px 0px;border-radius:5px}
#ID_txt03,#ID_txt04,#ID_txt05,#ID_txt06{padding:4px 5px;border-radius:5px}
#ID_txt07{border-radius:5px;background-color:#FDE6D4;border:2px solid #F68026;padding:5px 9px;border-radius:5px}


@media only screen and (device-width: 768px) {
#ID_txt02{margin-left:3px;}#ID_txt06{margin-top:1px}
#staticTxt1,#staticTxt2{padding-left:3px ! important}
#staticTxt1{margin-top:-2px ! important}
#staticTxt3{margin-top:-3px ! important}
#staticTxt4,#staticTxt3{padding-left:2px ! important}
#staticTxts3{padding-left:3px ! important}
#staticTxts2{padding-left:2px ! important}
}*/