
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow-y: hidden;
}
#flashContent {
	width:98%;
	height:98%;
}
.width300 {width:155.65px;}
.width30 {width:33px;}

#router_s2_text1 .orange{
    display: inline; 
    padding-bottom: 48px;
}
#router_s4_text1 .orange{
	width: 100%;
	display: inline-block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#router_s2_text1 .orange{
    padding-bottom: 52px;
}
}