
@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

table{
    line-height: 13.8px;
    letter-spacing: -0.2px;
    word-spacing:  -2.2px;
}

.fullWidth{
    width: 100% !important; 
}
  
table { border: none; border-collapse:collapse;}
table tbody tr {border: none; padding:0px;}
table tbody tr td {border: none; border-collapse:collapse;}


#innerTable1{ background-color: #FACCA8;} 
#innerTable2{ background-color: #C1ABD1;}

@media all and (device-width: 768px) and (device-height: 1024px) {
  table{
    line-height: 14px; 
  } 
  #innerTable1,#innerTable2{ line-height: 13.95px;}
} 