
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	line-height: 13px;
	letter-spacing: -0.2px;
	/*margin: 0px 2px;
	position: relative;
	top: 2px;*/
}
pre b { color: #000;}

pre span{
	background: #FACCA8;
	display: inline-block;
	width: 98%;
}

#ID_s2_txt01 pre{
	line-height: 13px;
	letter-spacing: -0.2px;
	/*padding: 0px 2px;*/
}
#ID_s3_txt01 pre span{
	background: #FACCA8; 
	display: inline !important;
}
#ID_SC5{
	letter-spacing: 0.9px;
}

