
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
.seagreenbox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#CCE9E7;
}
.orangebox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#FFF3B9;
}
.greybox{
	border:#BDBBBC 3px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
}
.greenbox{
	border:#40ACAA 3px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:2px;
}
#ID_title{
	left: 16px !important;
}
#ID_txt12{
	line-height: 12px;
}