
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
} 

pre{
    letter-spacing: -0.5px;
    line-height: 13px;
    margin: 0 2px;
    position: relative;
    top: 2px;
}
pre b { color: #000;}

pre span{
	background: #FACCA8; 
	display: inline-block;	
	width: 100%;
}

#ID_s4_staticText pre span,#ID_s5_staticText pre span{
	background: #FACCA8; 
	display: inline !important;	
} 

#ID_s7_staticText pre{
    letter-spacing: -0.6px !important;
    
}