
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#staticTxt{
	letter-spacing:-0.3px;
}
#staticTxt1{
	letter-spacing:-0.3px;
}