
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden;
}

img.img1{width:450px ! important;}
	
#imgId0 img { width:723px !important; height:580px !important;}

#ID_body_txt{
	width:460px;
	height:113px !important;
	padding:0;
	margin:5px 0 0 0;		
}
.ulclass{border:0px;padding:0px;margin:0 0 0 -30px;}
li{font-size:11px !important; line-height: 13px; margin-left:2em !important;}

#ID_title_txt b { font-size: 11px;}

.textboxheader{color:#3E254D;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	li{ margin-left:1em !important;}
}