
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	overflow:hidden !important;
}
#flashContent {
	width:98%;
	height:98%;

}
@media only screen and (device-width: 768px) {
 #ID_t_txt02a{margin-top:-15px} 
}