
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.space1{padding-left:30px;}
.space{padding-left:44px;}
.space2{padding-left:30px;}

@media only screen and (device-width: 768px) {
 #staticTxt{line-height:12px}
}