
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
font[face="_typewriter"]{ font-family:courier new !important;} 
input[type=radio] {
    display:none;
    margin:10px;
}
 

input[type=radio] + label {
	background-image: url('radio_normal.png');
	background-repeat: no-repeat;
	padding: 12px;
	cursor:pointer;
}

input[type=radio]:checked + label {
   background-image: url('radio_selected.png');
   background-repeat: no-repeat;
}

/*.core_style {background-color:#67BDBC; border-radius:5px; padding:5px; width:740px; height:240px; position:relative;}*/