
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_title, #ID_txt01, #ID_fig_title{
	font-size:11px !important;
}