
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
div #staticTxt{overflow:hidden !important;width:423.2px !important}
#n1{ position:relative; top:2px;}
#n2{ position:relative; top:-8px;}
#n3{ position:relative; top:-30px;}
#n4{ position:relative; top:3px;}
#n5{ position:relative; top:-14px;}
#n6{ position:relative; top:-21px;}
number{left:-2px !important;}
pre{overflow-x:hidden !important;}

#ID_s3_title{letter-spacing:-0.4px!important;}