
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_table {
  /*  height: 280px;
    overflow-y: scroll;
	//border: 2px solid #98D3D1;*/
    border-collapse: collapse;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0.1px 0.1px 2px 2px #9F9F9F;
 }
#ID_s1_01{font-size:10px ! important;}
#ID_s3_01 {line-height:13px;}
.mtable {line-height: 12.9px;}
#slide_3 { font-size:11px !important;}
.mtable .mtitle {font-weight:normal ! important;padding: 2px 3px;}