
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
 
#ID_Layer{
	background-color: #fff;
	opacity:0.5!important;
	filter:alpha(opacity=10)!important;
}
 
div[id^=ID_txt]{
	line-height: 12px !important;
	letter-spacing: -0.2px !important;
}

/*@media only screen and (min-device-width : 768px)and (max-device-width : 1024px) {
	number{ padding: 8px 28px;} 
} */


@media all and (device-width : 768px)and (max-device-width : 1024px) { 
	#ID_txt03,#ID_txt04{
		width: 65px !important;
		top:-15px !important;
		left: 2px !important;
	}
	#ID_txt14,#ID_txt15{
		width: 65px !important;
		top:-12px !important;
		left: 2px !important;
	}
} 

 