
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}


#ID_txt01 ul{padding-top:10px}
#ID_txt01 li{list-style:none ! important; background: url("../../../common/images/bullet_dot.png") left 5px no-repeat !important; padding:2px 0 0 24px;margin:0;}

