
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

/*#static_txt01,#static_txt02,#static_txt03 { border:1px solid red;}*/
#ID_s1_txt02,#ID_s2_txt02,#ID_s3_txt03, #ID_s3_txt02, #ID_s4_txt02, #ID_s5_txt02, #ID_s6_txt02 { background-color:#CB6D25; padding:2px; border:1px solid #F68026;}
#ID_s6_txt03 { background-color:#FDE6D4; padding:5px; border:2px solid #F68026; border-radius:5px;  line-height:11px;}
