
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
	
}

#ID_txt01{
    padding:7px 0 7px 7px;
    background:#FFFFFF;
	border-radius:5px;
	border:2px solid #d3d1d2;
	
}
#ID_txt08{
    border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:7px 0 7px 7px;
    background:#E0D5E6;
	line-height:12px;
}
#ID_txt09{
    border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:7px 0 7px 7px;
    background:#E0D5E6;
	line-height:12px;
}
#ID_txt10{
   border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:7px 0 7px 7px;
    background:#E0D5E6;
	line-height:12px;
}
#ID_txt11{
   border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:7px 0 7px 7px;
    background:#E0D5E6;
	line-height:12px;
}