
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
} 
#ID_s1_staticTxt1, #ID_s2_staticTxt1, #ID_s3_staticTxt1 {line-height:16px;}
