
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

div[id ^=ID_Layer]{
	background-color: #fff;
	opacity:0.5!important;
	filter:alpha(opacity=10)!important;
} 
@media all and (device-width : 768px)and (max-device-width : 1024px) { 
	
} 