
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;

}
#ID_txt06{padding-left:7px;}
#ID_bubble{padding-left:2px;}
#ID_title1,#ID_title2,#ID_title3,#ID_title4,#ID_title5{letter-spacing:-0.6px;}