
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

/*#ID_txt20{ font-family:"Courier New" !important; height:224px !important;margin:2px 0 0 0}

#ID_txt20 table {
    line-height:18px;
}

#ID_txt01,#ID_txt02,#ID_txt09,#ID_txt10{font-size:10px !important;font-weight:bold;}*/