
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:100%;
	height:100%;
}
#ID_s1_txt01, #ID_s6_txt01, #ID_s1_txt02 {
    position: absolute;
    top: 0;}
#ID_router_txt1 {letter-spacing: -0.1px;} 
#ID_router_txt2 {letter-spacing: -0.1px;}
#ID_router_txt3 {letter-spacing: -0.7px;}
#ID_router_txt4 {letter-spacing: -0.8px;}
#ID_router_txt5 {letter-spacing: -0.1px;}
#ID_router_txt6 {letter-spacing: -0.1px;}

