
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#router_text2,#router_text1{padding:2px 0 0 2px}
#router_text2{padding-left:0 ! important;}
.syntaxChecker pre {    white-space: pre-wrap !important;}
#ID_SC{
	letter-spacing:-0.1px;
}

@media only screen and (device-width: 768px) {
span.rt2{left:1px ! important;}
}