
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_router_txt1,#ID_router_txt2,#ID_static_4,#ID_static_1 {
	word-spacing: 16px;
} 
#ID_static_3{
	word-spacing: 28px;
}
#ID_router_txt2{letter-spacing:-0.4px !important;}
@media only screen and (device-width: 768px) {
#ID_static_3{
width:210px !important;
letter-spacing:-0.8px;
margin-left:-8px !important;
}
#ID_router_txt1{
width:260px !important;
letter-spacing:1.48px !important;
}
#ID_router_txt2{
width:260px !important;
letter-spacing:1.08px !important;
}
}