
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
} 
pre{
	line-height: 13px;
	letter-spacing: -0.3px;
	padding: 2px;
}
pre span{
	background: #FACCA8;
	display: inline-block;
	width: 100%;
}

#router_s2_text1 pre span{ 
	display: inline;
	width: auto;
}

#ID_txt01, #ID_txt02{
background:transparent;
display: inline;
white-space: normal;
font-family:arial;

}