
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01,#ID_txt05,#ID_txt03,#ID_txt06,#ID_txt04{line-height:11px !important;}