
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden !important;
}
#ID_txt01
{
line-height:11px;
height:36px;	
}
#ID_txt02
{
width:173px;
background:#FDE6D4;
border:2px solid #F68026;
padding:5px;
border-radius:5px 5px 5px 5px ;
height:auto !important	
}