
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1{letter-spacing:-0.01px;}
#ID_router_txt2{letter-spacing:-0.01px;}
.purplecalloutwithoutborder{

border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:7px 5px;
background:#E0D5E6;

}