
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_TipText{
border:2px solid #00A1E3;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:3px 0 3px 3px;
background:#CDEAF8;
}

#ID_txt03, #ID_txt04,#ID_txt06,#ID_txt01
{
	z-index:0 !important;
}
