
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
/*.mtitle font[size="11"]
{
font-size:12px;	
}*/
#ID_s1_table01
{
letter-spacing:-.3px !important;
}
.mtable .mtable_top {
    background-color:transparent !important;
    color: #434321 !important;
    line-height: 2px;
    padding: 0;
}
.colorBlack{
	background-color:#000;
}

/*#ID_s3_SC5_prompt_0 {letter-spacing:-0.3px;}*/