
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

/*slide1*/




/*slide2*/

#div1{left: 108px;position: absolute;top: 119px;z-index: 0;}
#div1 img{ height: 185px;width: 295px}

/*slide3*/
#div2{left: 50px;position: absolute;top: 56px;z-index: 0;}
#div2 img{ height: 308.1px;width:197.15px}

div[id^=txt]{
	position: absolute;
	font-size: 10px;
	width: 76.2px;
}

.orangeCallOut{padding: 7px 0 3px 3px;}

#ID_s1_txt11 span{display:block;}

#txt5{left: 53px; top: 65px;text-align:center;}
#txt6{left: 53px; top: 116px;text-align:center;}
#txt7{left: 62px; top: 138px;}
#txt8{left: 62px; top: 171px;}

#txt9{left: 161.5px; top:65px; width:69px;text-align:center;}
#txt10{left: 159px; top: 100px;text-align:center;}
#txt11{left: 171px; top: 117px; line-height:12px}
#txt12{left: 171px; top: 151px;line-height:12px;}
#txt13{left: 159px; top: 192px;text-align:center;}
#txt14{left: 171px; top: 213px;}
#txt15{left: 171px; top: 242px;}
#txt16{left: 159px; top: 274px;text-align:center;}
#txt17{left: 171px; top: 296px;}
#txt18{left: 171px; top: 336px;}
#txt19{left: 246px; top: 69px;}
#txt20{left: 250px; top: 211px;}
#txt21{left: 250px; top: 293px;} 

#ID_s2_txt03,#ID_s2_txt04,#ID_s2_txt02,#ID_s2_txt03B,#ID_s2_txt04B{ pointer-events: none;}