
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


.color{width:100%;display:block;background:#FACCA8;margin-left:-1.5px}
.color_g{width:99%;display:block;background:#B5D9B3;}
.color_p{width:99%;display:block;background:#C1ABD1;}
