
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.red{display:inline-block;background-color:#FACCA8;padding:1px;width:405px;}
#router_s2_text1{line-height:13.8px;margin-left:2px;}