
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01,#ID_s3_txt01,#ID_s3_txt02{line-height:11px !important;}
#ID_s1_txt02{padding:0 0 0 2px;line-height:12px;}
#ID_s5_txt01{line-height:15px;font-size:10px !important;padding-left:4px !important;}
#ID_s6_txt01,#ID_s7_txt01{line-height:13px;font-size:10px !important;padding-left:4px !important;}
.color{background: none repeat scroll 0 0 #F2AA79;
    float: left;
    margin-left: -3px;
    padding: 0 0 0 3px;
    width: 99.3%;}
.space{padding-left:20px;}
.space1{padding-left:25px;}
.space2{padding-left:40px;}
.space3{padding-left:20px;}
#ID_s5_txt01{line-height:13px;}
#ID_s3_txt02{padding-left:1px;}
.colorn{background: none repeat scroll 0 0 #F4C5A1;
    float: left;
    margin: 0 0 0 -3px;
    padding: 0 0 0 3px;
    width: 99.2%;}
.color2{background: none repeat scroll 0 0 #F6DFCD;
    float: left;
    margin: 0 0 0 -3px;
    padding: 0 0 0 3px;
    width: 99.3%;}
#ID_s6_txt01{line-height:12.5px;padding-left:3px;margin-top:1px;}
.one{padding-left:14px;}
.two{padding-left:1px;}
div[id ^= ID_static]{
	letter-spacing: -0.5px;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
#ID_s3_txt02{width:95px !important}
.color{width:99.7%;}
.colorn{width:99.7%;}
.color2{width:99.7%;}
}