
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;}
#ID_s1_txt01,#ID_s2_txt01,#ID_s3_txt01{line-height:12px !important;font-size:10px !important;letter-spacing:-.3px !important} 
.color{background:#facca8;}