
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}



#ID_AH, #ID_CH3, #ID_CH2, #ID_CH{
	line-height:10px;
}
#ID_MS{line-height:10px;}
#ID_C3Numb,#ID_static_4{letter-spacing:-0.5px;}
#ID_Enet1{width:30px;}
#ID_AG{letter-spacing:-0.4px; line-height:11px;}