
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#txt_q1,#txt_q2,#txt_q3{line-height:12px!important;}
#txt_q4{letter-spacing:-0.1px;line-height:12px!important;}
#txt_q5{letter-spacing:-0.1px;line-height:12px!important;}
#txt_q6{letter-spacing:-0.1px;line-height:12px!important;}
.spacing{
line-height:12px!important;
}