
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1{margin-left:3px;line-height:13.9px;letter-spacing:-0.3px;}
#ID_router_txt2{margin-left:3px;letter-spacing:-0.5px;}
@media only screen and (device-width: 768px) {
#ID_router_txt1{
line-height:14px;
}
#ID_router_txt1 span{
width:409px;
}
}

