
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01 {font-family:"Courier New" !important;}
#ID_s1_txt01 span { margin-left:10px;font-family:"Courier New";}
#ID_s2_txt01 {font-family:"Courier New" !important;}
#ID_s2_txt01 span { margin-left:10px;font-family:"Courier New";}
#ID_s3_txt01 {font-family:"Courier New" !important;}
#ID_s3_txt01 span { margin-left:10px;font-family:"Courier New";}
#ID_s4_txt01 {font-family:"Courier New" !important; line-height: 17px;}
#ID_s5_txt01 {font-family:"Courier New" !important; line-height: 17px;}