
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.orange1
{
width:99.5%;	
margin:0 0 0 -2px;
padding:0 0 0 2px;
}
#ID_router_txt1{padding-left:4px !important;letter-spacing:-.5px;overflow:hidden !important;}
.orange2
{
width:99.5%;	
margin:0 0 0 -2px;
padding:0 0 0 2px;
}
#ID_router_txt2{padding-left:4px !important;}
#ID_router_txt3{padding-left:4px !important;}
#ID_router_txt4{padding-left:4px !important; width:413px !important;}
.orange
{
margin:0 0 0 -2px;
padding:0 0 0 2px;
}
.orange3
{
width:138.2%;	
margin:0 0 0 -2px;
padding:0 0 0 2px;
}

#ID_router_txt orange,#ID_router_txt orange3{margin:0 0 0 -2px;
padding:0 0 0 2px;}