
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;

}
/*
.greenBg{
padding:2px 0 3px 3px;
background:#46A040;
}*/
.orangeBg{
border:2px solid #393536;
padding:2px 0 3px 3px;
background:#FACCA8;
}
.lightGreenBg{
border:2px solid #393536;
padding:2px 0 3px 3px;
background:#DBECDA;
}
.lightYellowBg{
border:2px solid #393536;
padding:2px 0 3px 3px;
background:#FFF3B9;
}
