
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.red {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;}
.blue {background-color:#C1ABD1; padding:1px; display:inline-block; margin-bottom:1.5px; margin-top:2px;}

#router_s2_text1,#router_s3_text1{letter-spacing: -0.3px;}