
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
} 
#ID_SC2 font b {font-size:10px !important;}
pre{
    letter-spacing: -1.5px;
    line-height: 14px;
    margin: 0 2px;
    position: relative;
    top: 2px;
}
pre b { color: #000;}

pre span{
	background: #FACCA8; 
	display: inline-block;	
	width: 101%;
	margin-left:-3px;
}