
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01
{
line-height:14px;
}
.space{padding-left:25px;}
.space1{padding-left:8px;}
.space2{padding-left:103px;}
.space3{padding-left:41px;}
.space4{padding-left:26px;}
.space5{padding-left:27px;}
.space6{padding-left:19px;}
.space7{padding-left:27px;}