
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#bitInput {border:2px solid #00A1E3; background:#CDEAF8; text-align:center; color:#000; font-size:11px; outline:none;}
#bitOutput {color:#393536; font-size:11px; text-align:center;}