
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.red {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;}
.red1 {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;width:70.5%}
.red2 {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;width:99%}
.red3 {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;width:38.5%}



@media only screen and (device-width: 768px) {

.red1 {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;width:72%}
.red3 {background-color:#FACCA8; padding:1px; display:inline-block; margin-bottom:1.5px;width:43%}
}

#ID_s3_txt01,#router_s3_text1,#ID_s4_txt01,#ID_s4_txt02,#router_s4_text1,#router_s4_text2,#router_s5_text1,#ID_s5_txt01{
margin-left:2px!important;
margin-top:6px!important;
font-size:10.3px!important;
}