
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1{
	letter-spacing:-1.8px;
}
.width50{
	width:50%;
}
.bold{
	font-weight:bold;
}
#ID_router5_txt2{
	letter-spacing:-1.4px;
}
#ID_SC2{
	letter-spacing:-0.2px;
}