
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1, #ID_router_txt2, #ID_router_txt3{
	line-height:14px;
}
#ID_s4_SC1{
	line-height:16px;
}
#ID_router_txt1 pre, #ID_router_txt2 pre, #ID_router_txt3 pre{
	padding:2px;
}
#ID_router_txt1 pre span.orange, #ID_router_txt2 pre span.orange, #ID_router_txt3 pre span.orange{
	margin:-2px !important;
	padding:0 3px;
}

#ID_s4_SC1_prompt_2 {
    letter-spacing: -1.16px !important;
}
.bubbleBullets{font-family:Arial;}