
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_Table_01{background-color:#98d3d1;border-radius:5px;border:1px solid #98d3d1 ! important;padding:0;margin:0;overflow-y: scroll;height:355px;}
#ID_Table_01 tr td.liner_top{line-height:.3; margin: 0;padding: 0;}
font[face="_typewriter"]{ font-family:courier new !important;}
#ID_Table_01 tr td{vertical-align:top ! important;}
#ID_Table_01 tr td p{padding:0;margin:0}
#ID_Table_01 tr td ul{margin:0 0 0 14px;padding:0}
#router_text2,#router_text3{padding-left:2px;}