/*   load the main media CSS file    */
@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;	
}
.grayBoxShadow{
	border-radius:3px;
	-moz-border-radius:3px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	padding:3px 0 3px 3px;
	background:#E0D5E6;
	margin-left:-6px;
	margin-top:-4px;
	box-shadow: 2px 5px 5px #888888;
}
.pinkBoxShadow{
	border-radius:3px;
	-moz-border-radius:3px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	padding:3px 0 3px 3px;
	background:#F9D1D2;
	margin-left:-6px;
	margin-top:-4px;
	box-shadow: 2px 5px 5px #888888;
}
