
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01,#ID_s7_txt01{line-height:15px;}
#ID_s4_txt01 b,#ID_s5_txt01 b,#ID_s6_txt01 b,#ID_s7_txt01 b{font-weight:bold;}
#ID_s5_txt01{line-height:15px;}
#ID_s6_txt01 span{background:#facca8;width:100%;float:left;}
#ID_s6_txt01{line-height:17px;width:415px !important;}

#mediaContainer>div{letter-spacing:-.4px;}

 @media screen and (-webkit-min-device-pixel-ratio:0) {
#ID_s6_txt01 span{background:#facca8;width:99%;float:left;}
}