
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.greyCallOut{
border:2px solid #7B797A;
padding:1px 0 3px 3px;
background:#E9E7E8;
letter-spacing:0.8px
}
@media only screen and (device-width: 768px) {
.greyCallOut{
  padding:3px 0 3px 3px;
}
}
@media only screen and (device-width: 1024px) {
.greyCallOut{
  padding:3px 0 3px 3px;
  letter-spacing:0.8px
}
}