
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #ID_s1_txt07{margin-top:-2px !important;line-height:8px!important;}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  #ID_s1_txt07{margin-top:-2px !important;line-height:8px!important;}
}

#ID_s1_txt22a,#ID_s1_txt21a{
line-height:9px!important;
}
#ID_s1_txt21a{
letter-spacing:-0.3px!important;
}
#ID_s1_txt14{
line-height:11px!important;
}
