
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}


table tr td {
border-top: .21em solid #918F90 ;  
border-bottom: .21em solid #918F90; 
border-collapse: collapse;
}
table {
 border:2px solid #666263;
 border-collapse: collapse;
}

#ID_txt03,#ID_txt04{
	width: 120px !important;
}

#ID_s1_txt02,#ID_s1_txt03,#ID_s1_txt04,#ID_s2_txt02,#ID_s2_txt03,#ID_s2_txt04{
line-height:10px;
}
/*
#slide_1 >#ID_table_01 > table tr:nth-child(4){ background-color:#FAB37D !important;}
#slide_2 >#ID_table_01 > table tr:nth-child(4){ background-color:#FAB37D !important;}
#slide_3 >#ID_table_01 > table tr:nth-child(5){ background-color:#FAB37D !important;}
#slide_4 >#ID_table_01 > table tr:nth-child(6){ background-color:#FAB37D !important;}
#slide_5 >#ID_table_01 > table tr:nth-child(7){ background-color:#FAB37D !important;}
  
  */