
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0%;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#slide_1 #dnd_1_drag_0_0 div,#slide_2 #dnd_2_drag_5_0 div,
#slide_3 #dnd_3_drag_0_0 div,#slide_3 #dnd_3_drag_3_0 div,#slide_3 #dnd_3_drag_6_0 div{
	word-wrap: break-word;
	left: 2px !important;
 	letter-spacing: -0.6px;
 	line-height: 16px;
}
#slide_3 #dnd_3_drag_6_0 div{
	letter-spacing: -1.3px !important;
}