@import url(../../../common/styles/media2.css);

html,body {
height:100%;
margin:0;
}

#flashContent {
width:98%;
height:98%;
}
#host4,#host1,#host2,#host3,#hostbin4,#hostbin1,#hostbin2,#hostbin3{
	background:#E9E7E8;
	border:1px solid #E9E7E8;
	color:#000;
	text-align:center;
	font-size:11px;
	position:absolute;
	width:67px;
	height:16.2px;
}
#subnet4,#subnet1,#subnet2,#subnet3,#subnetbin4,#subnetbin1,#subnetbin2,#subnetbin3{
	background:#D3D1D2;
	border:1px solid #D3D1D2;
	text-align:center;
	font-size:11px;
	position:absolute;
	width:67px;
	height:16.2px;
	color:#000;
}
#netaddbin4,#netaddbin1,#netaddbin2,#netaddbin3,#netadddeci4,#netadddeci1,#netadddeci2,#netadddeci3{
	border:1px solid #fff;
	background:#66C0E5;
	text-align:center;
	font-size:11px;
	position:absolute;
	width:67px;
	height:16.2px;
	font-weight:bold;
}