
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1 {margin-left:1.5px;}
#ID_txt01 {margin-left:1.5px;}
#ID_router_txt1{line-height:13.7px !important;}