
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.orangeCallOut{padding-right:3px;}
/*slide1*/
/* 1st click */
#ID_s1_pop01{background:url(media_10_3_2_1_S1_A.jpg) 2px 2px no-repeat;   padding: 11px 0 0 185px;
    width: 234px !important;float:left}

#ID_s1_pop01A{ 
background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding:4.5px 2px;
    position: absolute;
    text-align: center;
    width: 145px;
	left:23px;
    top: 151px;
	z-index:1}
#arrow1{position: absolute; top: 156px; left: 53px; z-index: 0;}
#arrow1 img{ height: 49.7px;width: 19.55px}

/* 2nd click */
#ID_s1_pop02{background:url(media_10_3_2_1_S1_B.jpg) center 2px no-repeat}
#ID_s1_pop02A{ 
background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding: 4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
	left:69.15px;
    top: 259.65px;
	z-index:1}

#ID_s1_pop02B{ 
	background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding: 4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
	left:238px;
    top: 259px;
	z-index:1}

#arrow2{position: absolute; top:208px; left:140px; z-index: 0;}
#arrow2 img{ height: 79.4px;width:166.2px}

/* Click3*/
#ID_s1_pop03{background:url(media_10_3_2_1_S1_C.jpg ) 3px 4px no-repeat; float:left;padding:195px 0 0 3px;width: 418px ! important;height:100px ! important}

#ID_s1_pop03A{ 
	background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding: 4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
	left:65px;
    top: 100px;
	z-index:1}
#arrow3{position: absolute; top: 117px; left: 129px; z-index: 0;}
#arrow3 img{ height: 49.7px;width: 19.55px}

/*slide2*/

#ID_s2_pop02{background:url(media_10_3_2_1_S2_A.jpg) center 2px no-repeat}
#ID_s2_pop01{ 
background-color:#FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding: 4.5px 2px;
    position: absolute;
    text-align: center;
    width: 150.25px;
	left:37px;
    top:294px;
	z-index:1}

#arrow4{position: absolute; top: 260px; left: 129px; z-index: 0;}
#arrow4 img{ height: 36px;width: 25px}

#dummy{padding:2px 0 ! important}