
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;

}
#flashContent {
	width:98%;
	height:98%;
}


#ID_txt05{
word-wrap: break-word;
}
#ID_txt05{letter-spacing:-0.5px;}