
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
/*#ID_txt06 font,#ID_txt07 font,#ID_txt08 font{font-size:10px !important;}
#ID_txt05,#ID_txt05 font{font-size:10px !important;letter-spacing:-.4px !important;line-height:11px !important; width:39.2px !important;}
#ID_txt02 font{font-size:11px !important;}
#ID_txt06 ,#ID_txt07,#ID_txt08{ width:39.2px !important; line-height:11px !important;letter-spacing:-.4px !important;}
#ID_txt02{letter-spacing:-0.3px !important;}*/