
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01d,#ID_s1_txt02d,#ID_txt01d,#ID_txt02d
{

height: 40px;
}

.greyCallOut{
border:1px solid #4E4C4D;
padding:2px 0 3px 3px;
background:#D3D1D2;
