
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_1_drag_3_0{letter-spacing:-0.3px;}
#dnd_1_drag_6_0{letter-spacing:-0.32px;}
#dnd_2_drag_4_0{letter-spacing:-0.24px;}
#dnd_2_drag_7_0{letter-spacing:-0.134px; line-height:12px;}
#ID_s1_inst,#ID_s2_inst{letter-spacing:-0.2px;}
#dnd_1_drag_0_0,#dnd_1_drag_1_0{letter-spacing:-0.4px !important;}
#dnd_1_drag_6_0,#dnd_1_drag_3_0{letter-spacing:-0.2px !important;}
#ID_s1_txt03{line-height:10px;}