
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01 {font-family:"Courier New" !important;line-height:18px;letter-spacing: -1.1px;}
#ID_s2_txt01 {font-family:"Courier New" !important;line-height:18px; border-color:transparent !important;}
#ID_s2_txt01 span { margin-left:15px;}
.bg_trans { border-width:0px; border-color:transparent !important;}