
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt11,#ID_txt12,#ID_txt17,#ID_txt22,#ID_txt23,#ID_txt24,#ID_txt18,#ID_txt09,#ID_txt20{pointer-events:none;}