
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

/*
#envelope{
    background: url("images/envelope.png") no-repeat scroll 0 0 transparent;
    height: 42px;
    left: 12px;
    opacity: 0;
    position: absolute;
    top: 297px;
    width: 65px;
}
 
#arrow1{
    height: 46.3px;
    left: 222px;
    opacity: 0;
    position: absolute;
    top: 190px;
    width: 41.45px; 
}

#arrow2,#arrow3{
    height: 34.85px;
    left: 270px;
    opacity:1;
    position: absolute;
    top:27px;
    width: 43.3px; 
}
#ID_bubble05 #txt{ 
	 
	background-color:#FDE6D4;
	border:2px solid #F68026; 
}
#ID_bubble08{ 
	background-color: #DBECDA;
	border:2px solid #386B33;  
}
#ID_bubble09{ 
	background-color:#FFFADD;
	border:2px solid #D3BA46; 
}
 
#ID_bubble05 #txt,#ID_bubble08,#ID_bubble09{
	display:none;
	padding:5px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;   
}

#comp1{
    height: 40px;
    left: 249px;
    opacity: 0;
    position: absolute;
    top: 299.25px;
    width: 48px;
}
#comp2{
    height: 40px;
    left: 21.5px;
    opacity: 0;
    position: absolute;
    top: 298.5px;
    width: 48px;
}

#txt1{ 
	opacity:1;
	display:block;
	margin-top: 13px;
	display:none;
	 
}
#txt2{ 
	opacity:1;
	display:none;
	margin-top: 7px;
}
#txt3{ 
	opacity:1;
	margin-top: 7px;
	display:none;
}*/

#ID_frame01,#ID_frame02,#ID_frame03{
	  text-shadow: 1px 0px 0px #ffffff , 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 
  0px -1px 0px #ffffff, 1px 4px 5px #ffffff;
}