
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.yellowCallOut{background-color:#FFF3B9;border:2px solid #D3BA46;border-radius:5px;padding:4px 0}
.marronCallOut{background-color:#F49750;border:2px solid #CB6D25;border-radius:5px;padding:4px 0}
.lgreenCallOut{background-color:#B5D9B3;border:2px solid #3F863A;border-radius:5px;padding:4px 0}
.purpleCallOut{background-color:#E0D5E6;border:2px solid #8557A0;border-radius:5px;padding:4px 0}