
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#staticTxt1,#staticTxt3{width:411px ! important}
#staticTxt2{line-height:12px;width:411px ! important}