
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_title_01{
	color : #472e55 !important; 
}
li{margin-left:2em !important;}

@media only screen and (device-width: 768px) {
li{margin-left:1em !important;}