
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.purpleTxt{
	color:#652C8A;
	font-size:15px !important;
	font-family:Arial !important;
}
.orangeTxt{
	color:#F68026;
	font-size:15px !important;
	font-family:Arial !important;
}
