
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;line-height:14px;}
#ID_s4_txt01 span,#ID_s5_txt01 span{background:#facca8;}
#ID_s4_txt01,#ID_s5_txt01{padding-left:2px !important;}
font[face="_typewriter"] { font-family:courier new !important; font-weight:bold;}
