
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_2_drag_0_0{letter-spacing:-.35px;}

#dnd_2_drag_1_0 {letter-spacing:-.75px;}

#dnd_2_drag_3_0 {letter-spacing:-.45px;}