
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01,#ID_s1_txt02 { color:#F68026 !important;}
#ID_s5_txt01 { letter-spacing: -1.5px; line-height: 11.2px;}
#ID_s4_txt01 {line-height:11px;}
.first {   letter-spacing: -1px;}
