
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.color{
	background-color:#FACCA8;
}
#ID_s4_txt04, #ID_s4_txt05, #ID_s3_txt06{
padding:5px;
border:2px solid #F68026;
background:#FDE6D4;
border-radius:5px;
line-height:12px;
text-align:left;
}
#ID_s3_txt01 ul{
	margin:0;
	padding:0;

}
#router_text1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4{padding-left:4px !important;padding-top:3px !important;letter-spacing:-.5px !important;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #ID_s2_txt04{padding-left:4px !important;}
	#ID_s2_txt01{top:-10px !important;}
	  #ID_s4_txt01{top:-18px !important;}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  #ID_s2_txt04{padding-left:4px !important;}
  #ID_s2_txt01{top:-10px !important;}
  #ID_s4_txt01{top:-14px !important;}
}