
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt04,#ID_bubble02{	
	z-index:0
	!important}
#ID_bubble01,#ID_bubble02{line-height:12px !important;}
#ID_txt04{letter-spacing:-0.2px !important;}