
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden !important;
}
#flashContent {
	width:98%;
	height:98%;
	
	
}
#router_s1_text1 {padding-left:2px; word-spacing:-1px; overflow:hidden !important; line-height:1.5em}
.r1{ width:168px !important; padding:0px 3px;}
.r2{width:168px !important; padding:0px 3px; margin-left:1px}
.r3{margin-left:-1px}

table {border-collapse: collapse; }


@media only screen and (device-width: 768px) {


  #udi{margin-left:12px;}
 
  
}