
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_text01,#ID_text02,#ID_text03,#ID_text04,#ID_text05,#ID_text06{
	border:2px solid #515200;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:3px 0 3px 3px;
	background:#F4F5D3;
	margin-left:-6px;
	margin-top:-4px;
	}
#ID_text07{
	border:2px solid #515200;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:3px 0 3px 3px;
	background:#E6EBA8;
	margin-left:-6px;
	margin-top:-4px;
	}
#ID_text08{
	border:2px solid #515200;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:3px 0 3px 3px;
	background:#CDD750;
	margin-left:-6px;
	margin-top:-4px;
	}