
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;}
#ID_s5_txt01 span{background:#facca8;display:inline-block;width:99%;}
.one{ background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 0 0 0 -28px;
    padding: 0 0 0 23px;
    width: 93.7%;}
	
#ID_s8_txt01{width:414px !important;padding-left:2px;}