@import url(../../../common/styles/media2.css);

html,body {
height:100%;
margin:0
}

#flashContent {
height:98%;
width:98%
}
#ID_txt21,#ID_txt19,#ID_txt06,#ID_txt07,#ID_txt05,#ID_txt04,#ID_txt11,#ID_txt26,#ID_txt27,#ID_txt28,#ID_txt29,#ID_txt20,#ID_txt22,#ID_txt23,#ID_txt16,#ID_txt10,#ID_txt32{
border:2px solid #D3D1D2;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#FFFFFF;
}
#ID_txt09,#ID_txt18,#ID_txt08,#ID_txt31,#ID_txt30,#ID_txt24,#ID_txt25
{
border:2px solid #652C8A;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#E0D5E6;
}

