
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_9, #ID_static_10, #ID_static_11, #ID_static_12{
	font-size:9px !important;
	font-weight:bold !important;
	line-height:15px !important;
}
