
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_table.mtable tr td {width:100px;text-align:left;vertical-align:text-top;}
#ID_s2_table.mtable tr td{width:80px;text-align:left;vertical-align:text-top;}
#ID_s3_table.mtable tr td{width:80px;text-align:left;vertical-align:text-top;}