
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt08,#ID_txt09,#ID_txt10{line-height:2;}
#ID_txt11, #ID_txt12 {height:30px !important;}