
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_ip{letter-spacing:-0.2px !important;}
#ID_router_txt1{padding-left:4px !important;}
#ID_router_txt2{padding-left:4px !important;}