
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
/*table { width:100% !important;border-collapse:collapse;}
table tbody tr { border-color:#98D3D1;}
table tbody tr td { border-color:#a2aa23; font-size:11px !important; border:3px solid #98D3D1; border-collapse:collapse;line-height:11px !important;}
table tbody tr td b { font-size:11px !important; font-weight:bold !important; border-collapse:collapse;}
table tbody tr td font { font-size:11px !important; border-collapse:collapse;}
.table_font { border-color:#a2aa23; font-size:11px !important; font-weight:bold !important; width:33% !important;}
.liner_top {line-height:0 !important;height: 0px !important; margin:0px; padding:1.5px 0 1.5px 0;}
li{margin-left:1em !important;}
#ID_table {box-shadow: 0 0 2px 2px #999999 !important;  height: 97px !important; width: 425px !important; border-radius:5px !important;}
.wider { width:34%;}
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
#ID_table {box-shadow: 0 0 2px 2px #999999 !important;  height: 96px !important; width: 425px !important; border-radius:5px !important;}
}