
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

p {margin:0px; padding:0px;}

b {
    vertical-align: top !important;
    line-height: 16px;
}

.mtable table {line-height:22px;}
