
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt14,#ID_txt15,#ID_txt16,#ID_txt17,#ID_txt18{letter-spacing:-0.3px;}
