
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01,#ID_s2_txt05,#ID_s3_txt05
{
width:89.25px !important;
padding:5px;
background:#E0D5E6;
border:2px solid #652C8A;
border-radius:5px;
}
#ID_s1_txt03,#ID_s2_txt03
{
width:89.4px !important;
padding:5px;
background:#F3D0D6;
border:2px solid #D1415A;
border-radius:5px;
}
#ID_s3_txt03{
width:80.4px !important;
padding:5px;
background:#F3D0D6;
border:2px solid #D1415A;
border-radius:5px;
}
#ID_s1_txt04,#ID_s2_txt04,#ID_s3_txt04
{
width:89.4px !important;
padding:5px;
background:#DBECDA;
border:2px solid #46A040;
border-radius:5px;
}
#ID_s2_txt01,#ID_s3_txt01
{
width:125.9px !important;
padding:5px;
background:#E9E7E8;
border:2px solid #7B797A;
border-radius:5px;
line-height:11px !important;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 #ID_static_20{padding-left:3px;}