
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#router_text1,#router_text2,#router_text3{line-height:16px}

input#ID_SC4_prompt_0,input#ID_SC4_prompt_1,input#ID_SC4_prompt_2,input#ID_SC5_prompt_0,input#ID_SC5_prompt_1,input#ID_SC5_prompt_2{font-family:courier new ! important}


@media only screen and (device-width: 768px) {
 span.row2{width:98.8% ! important}

}