
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_inst{
	  line-height: 8px;
}
@media only screen and (device-width: 768px) {

#dnd_1_drag_1_0 div{
	left: 2px !important;
}
}