
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01, #ID_s1_txt02, #ID_s1_txt03 {
    line-height: 11px;
	padding-left:2px;
}

#ID_s1_txt01 {letter-spacing: -1px;}
#ID_s1_txt02 {letter-spacing: -0.8px;}
#ID_s1_txt03 {letter-spacing: -0.4px;}