
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt07,#ID_s3_txt07,#ID_s4_txt07{
	width:110.35px !important;
}

#ID_router_txt1 pre{
 letter-spacing: -1px;
    line-height: 11.5px;
}

#ID_router_txt1 .orange{
	width:100%;
}

font[face=_typewriter]{
font-family:"Courier New", Courier, monospace;
}

#ID_s2_table {
	line-height:11.5px;
}

#ID_SC5_prompt_0
{
letter-spacing: -0.5px;
    width: 318.1px !important;
}