
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01{line-height:15px;padding:0 0 0 4px !important;margin-top:1px;}
#ID_s5_txt01{padding:0 0 0 4px !important;margin-top:1px;}
div.space{padding:0 0 0 28px;display:inline;}
#ID_s5_txt01 span{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 0 0 0 -3px;
    padding: 0 0 0 32px;
    width: 91.8%;}
.space{padding-left:45px;}
.space1{padding-left:25px;}
.space2{padding-left:26px;}
.space3{padding-left:44px;}