
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s2_staticTxt1{
	/*padding: 3px 2px;*/
}
code{ 	
	
	line-height: 12px;
	word-spacing: -2.8px;
	font-size: 10px;
	white-space: pre;
}

code b{color: #000;} 

div[id ^= ID_static]{
	font-size: 9px!important;
}
