
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.orangeCallOut{padding: 6px 0 5px 3px;}


@media only screen and (device-width: 768px) {
  #ID_s1_txt01{margin-top:-9px;}
}
