
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_router_txt4 span { background-color:#FACCA8;}
#ID_router_txt3{
	line-height:14.5px;
}