
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01
{
	background:#cce9e7;
	border:2px solid #33A7A4;
	border-radius:5px;
	padding-left:7px;
	box-shadow:0px 5px 5px #787878;
}
#ID_txt01 li
{
padding-left:5px;
margin-left:18px;	
}