
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#slide_1 #ID_static_11{color:#393536 !important;font-weight:normal !important;}
#slide_1 #ID_static_9{color:#393536 !important;font-weight:normal !important;}
#ID_static_9{color:#ffffff !important;font-weight:bold;}
#ID_static_15{font-family:"Courier New", Courier, monospace;font-size:10px !important;}
#ID_router_txt1{padding-left:4px !important;}
.orange1{display: inline-block;
    width: 96%;
    margin: 0 0 0 -17px;
    padding: 0 0 0 17px;}
#ID_static_11{color:#ffffff !important;font-weight:bold;height:280px !important;line-height:12px !important;}