
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

div[id^=ID_s1_txt]{
	font-size:10px !important;
	line-height:11px;
}

#ID_s1_txt12{
	  padding: 2px 3px ;
}
 #ID_s1_txt01,#ID_s1_txt02{
	line-height:13px !important;
} 
font[face =_typewriter]
{
	font-family:Arial,"Courier New";
}
