
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s2_CHECK,#ID_s2_RESET,#ID_s3_CHECK,#ID_s3_RESET{padding-top:2px}