/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
} 

 
 #ID_router_txt1 pre{
 	line-height: 13.4px;
 	letter-spacing: -0.7px;
	padding:0 0 0 4px !important;
 }

  #ID_router_txt1 pre span{
  	display:inline-block;
  	width: 100%;
  }

   #ID_router_txt2 pre{
 	line-height: 13.4px;
 	letter-spacing: -0.7px;
 }

  #ID_router_txt2 pre span{
  	display:inline-block;
  	width: 100%;
  }

  #slide_2 > #ID_s2_txt01,#ID_s3_txt01 {
    font-size: 11px !important; 
    /*border:1px solid red;*/
  }
  
  .orange1{background: none repeat scroll 0 0 #F2AA79;
    margin: 0 0 0 -1.5px;
    padding: 0 0 0 1.5px;}