
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
    line-height: 13.5px;
    letter-spacing: -0.2px;
    word-spacing:  -2.2px;
}
.fullWidth{
    width: 100% !important;

}

.slong{
	padding-bottom: 40px; 
    display: inline !important;
}

#ID_router_txt2 table {border-color: transparent; border-collapse:collapse; line-height:11px;}
#ID_router_txt2 table tr { border-color: transparent !important;} 
#ID_router_txt2 table tr td { border-color: transparent !important; padding:1px;} 
#ID_router_txt2 table tr td:nth-child(3){text-align:center;}
 #ID_router_txt2 .orange {
    background-color: #FACCA8;
    display: inline; 
    padding: 0 5px 40px;
}