
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01 {/* background-color:#E0F2F2; border:2px solid #33A7A4; padding:15px; border-radius:5px; box-shadow:2px;*/}