
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt04,#ID_txt08, #ID_txt11, #ID_txt16,#ID_txt18,#ID_txt20,#ID_txt22,#ID_txt24, #ID_txt26, #ID_txt49,#ID_txt51,#ID_txt53,#ID_txt55,#ID_txt57,#ID_txt59,#ID_txt61, #ID_txt63, #ID_txt79,#ID_txt81,#ID_txt83,#ID_txt85,#ID_txt87,#ID_txt89,#ID_txt91, #ID_txt93 {word-spacing:-1px; line-height:11px !important;}