
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}#ID_s1_txt01 span {background-color:#FACCA8; width: 100%;}

#ID_s1_txt01 {
    letter-spacing: -0.3px;
}

#ID_txt01 { background-color:transparent !important;}

.orange {width:100%;}


@media all and (device-width: 768px) and (device-height: 1024px) {
#ID_s1_txt01 table { width:448px;}
}
