
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt04{background-color:#A2AA23; height:20px !important;line-height:1.8}
#ID_txt05{background-color:#E8A0AC; height:20px !important;line-height:1.8}
#ID_txt06{background-color:#F3D0D6; height:20px !important;line-height:1.8}
#ID_txt07{background-color:#A7A5A6; height:20px !important;line-height:1.8}
#ID_txt08{background-color:#A3913B; height:20px !important;line-height:1.8}
#ID_txt09{background-color:#FACCA8; height:20px !important;line-height:1.8}
#ID_txt11{background-color:#A2AA23; height:20px !important;line-height:1.8}
#ID_txt12{background-color:#E8A0AC; height:20px !important;line-height:1.8}
#ID_txt13{background-color:#FACCA8; height:20px !important;line-height:1.8}
#ID_txt14{background-color:#A3913B; height:20px !important;line-height:1.8}
#ID_txt15{background-color:#BDBBBC; height:20px !important;line-height:1.8}

.grayCallOut{
border:2px solid #000000;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#BDBBBC;
}
#ID_txt03{height:137px !important;}
#ID_txt16,#ID_txt17{
	word-wrap: break-word;
	 line-height: 11px;
}