
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	line-height:12px;
	letter-spacing:-0.6px;
}

.expandDown{
	padding-bottom:11px;
	display: inline; 
}

/*#rTXT_S1_1 span {letter-spacing:-0.2px;}*/