
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.red { background-color:#FACCA8; display:inline-block; width:99.7%;}
.blue{background-color:#C1ABD1; display:inline-block; width:99.7%;}
.yellow{background-color:#FFF3B9; display:inline-block; width:99.7%;}
#router_s1_text1 {word-spacing:-2px;}
#router_s2_text1 {word-spacing:-2px;}