
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#staticTxt table { border-color:#f2f2f2; border-collapse:collapse;padding:0}
#staticTxt table tbody tr { border-color:#f2f2f2; padding:0px;}
#staticTxt table tbody tr td { border-color:#f2f2f2; border-collapse:collapse;}
.space{padding-left:10px;}
.col1{padding-left:34px;}
.col2{padding-left:22px;}
.col3{padding-left:14px;}
.col4{padding-left:75px;}