
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;

}
#flashContent {
	width:98%;
	height:98%;
}


/*#ID_Button01{top:0px ! important;}
#ID_Button02{top:0px ! important;}
*/
#canvasDiv{overflow-y: hidden ! important;}
#canvas2{overflow:hidden ! important}

/*@media only screen and (device-width: 768px) {
#ID_Button01{margin-top:-2px;}
#ID_Button02{margin-top:-1px;}
}*/