
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_bubble01,#ID_bubble02,#ID_bubble03
{
height:42px !important;
margin:0px !important;
padding:0px !important;	
}
