
/*   load the main media CSS file    */ 

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}

#flashContent {
	width:98%;
	height:98%;
} 

#ID_staticTxt1 span{ 
	background-color: #FACCA8; 
	padding: 2px 2px 60px;
}
#ID_staticTxt2 code{
	font-size: 10px;
    line-height: 13.5px;
    white-space: pre;
    word-spacing: 0.2px;
}
#ID_staticTxt2 span{
	background-color: #FACCA8; 
}
#ID_staticTxt3 span{ 
	background-color: #FACCA8;  
}

pre {
    letter-spacing: -0.9px;
    line-height: 14px; 
}
pre b {
    color: #000000;
}
pre span {
    background: none repeat scroll 0 0 #FACCA8;
    display: inline ;
}
#ID_staticTxt3 pre span {
    background: none repeat scroll 0 0 #FACCA8;
    display: inline-block !important;
    width: 99%;
	position:absolute;
	left:0;
	padding-left:2px;
}


 