
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01 li.parent,#ID_txt02 li.parent {margin-left: 18px;
    padding: 0;}
	
#ID_txt01 li,#ID_txt02 li { margin-left:30px;}
ul { margin:0px; padding:0px;}

/*#ID_txt01 div,#ID_txt02 div { box-shadow:3px 3px 2px #999999; border:6px solid #C5A9D2; border-radius:4px; padding: 2px;}
#ID_txt01 span {
    background-color: #C5A9D2;
    border-top: 4px solid #3B2249;
    display: block;
    height: 5px;
    margin-left: -3px;
    margin-top: -2px;
    width: 104%;
}

#ID_txt01 ul,#ID_txt02 ul { margin:0px; padding:0px;}
#ID_txt01 li,#ID_txt02 li { margin-left:36px; padding:0px;}


#ID_txt02 span {
    background-color: #C5A9D2;
    border-top: 4px solid #3B2249;
    display: block;
    height: 5px;
    margin-left: -3px;
    margin-top: -2px;
    width: 104%;
}*/