
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt1{font-family:Arial;font-style:narrow;line-height:8px;font-size:9px !important;}
.seagreenCallOut{
border:2px solid #00918E;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:3px 0 3px 3px;
background:#CCE9E7;
}
.greenCallOut{
border:2px solid #808521;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:3px 0 3px 3px;
background:#F4F5D3;
}
.purpleCallOut{
border:2px solid #652C8A;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 3px 3px;
background:#E0D5E6;
}
.yellowCallOut{
border:2px solid #D3BA46;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 3px 3px;
background:#FFFADD;
}