/*   load the main media CSS file    */
@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.fontnormal{
	font-weight:normal !important;
}
#ID_s1_text02, #ID_s1_text02, #ID_s1_text03, #ID_s1_text04, #ID_s1_text05, #ID_s1_text06{
	letter-spacing:-0.9px !important;
}