
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

/*#ID_txt02, #ID_txt06 {padding:2px; background-color: #fde6d4; border:2px solid #f68026; border-radius:5px;}*/