
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}




.small_space {margin-left:20px;}
.large_space {display: block;float: left;margin-left: 40px; text-align:left;}
