
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01,#ID_s3_txt01,#ID_s3_txt02{line-height:11px !important;}
#ID_s1_txt02{padding:0 0 0 2px;line-height:12px;}
#ID_s5_txt01{line-height:15px;padding-left:3px;margin:1px 0 0 0px;font-size:10px !important;}
.color{width:99%;background:#facca8;float:left;}
.space{padding-left:10px;}
.space1{padding-left:25px;}
.space2{padding-left:30px;}
.space3{padding-left:124px;}
#ID_s6_txt01,#ID_s7_txt01{line-height:13px;padding-left:3px;margin:1px 0 0 0px;}
.one{padding-left:14px;}
.two{padding-left:1px;}
.three{padding-left:30px;}

div[id ^= ID_static]{
	letter-spacing: -0.5px;
}

.orange{width: 100% !important;}
pre{
	letter-spacing: -0.9px;
	line-height: 13px;
}
/*#ID_static_1{
	border:1px solid red;
}*/

