
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s5_txt01,#ID_s6_txt01,#ID_s7_txt01,#ID_s8_txt01
{line-height:15px;padding-left:5px;margin-top:1px;}