
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_static_33, #ID_static_17, #ID_static_20, #ID_static_5, #ID_static_34, #ID_static_33 {
	letter-spacing:-0.7px;
}
#ID_static_21{letter-spacing:-0.3px;}
font[size="10"] {font-size:10px !important}
#ID_s2_txt08{line-height:12px;}
#ID_Title_txt01 {letter-spacing:-1px;}
#ID_Body_txt01{line-height:11px;}
#ID_static_33{letter-spacing:-0.9px;}
#ID_static_13{letter-spacing:-0.6px;}