
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt04
{
background:#CCE9E7;
border:2px solid #00918E;
border-radius:5px 5px 5px 5px;
padding:3px;

}

.orangeCallOut{
padding:2px 3px 3px 3px;

}


.space3{display: inline-block;
    margin: 0 0 0 -15px;
    padding: 0 0 0 15px;
    width: 96.5%;}
#ID_s4_txt01{letter-spacing:-.5px;padding-left:6px !important;line-height:15px;}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.space2{
    width: 98.5%;}
}