
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_static_29,#ID_static_30,#ID_static_31,#ID_static_32,#ID_static_57,#ID_static_58,#ID_static_59,#ID_static_60{letter-spacing: 1.5px;}