
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.space{margin-left:22px;}
.space1{margin-left:37px;}
.space2{margin-left:40px;}