
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.orangeCallOut{
border:2px solid #F68026;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 0px 3px;
background:#FDE6D4;
}

.seagreenCallOut{
border:2px solid #00918E;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 3px 3px;
background:#CCE9E7;
}
.greenCallOut{
border:2px solid #3F863A;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 3px 3px;
background:#DBECDA;
}

.purpleCallOut{
border:2px solid #8557A0;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px;
-khtml-border-radius:3px;
padding:2px 0 3px 3px;
background:#E0D5E6;
}

#ID_s1_header2{margin-top:-10px}
