
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01 {line-height:13.5px;}
#ID_s2_txt01 {line-height:13.5px;}
#ID_s3_txt01 {line-height:13px;}
#terminal_multi{height: 290px !important;}
#middle_F_multi{height: 300px !important;}
#footer_multi{margin:-7px 0 0 0 !important;}
#wrapper_multi{ margin: 15px 0 0 !important;}

#deresp2,#deresp3,#deresp4,#deresp6 {font:normal 10.5px/15px Courier New !important;}
span.space_10{padding-left:10px; height:auto !important;  float:none !important;}
span.space_15{padding-left:30px; height:auto !important;  float:none !important;}
#routertext1,#routertext2,#routertext3{font-family:Courier New;letter-spacing:-.2px}
#staticTxt1_3,#staticTxt1_2,#staticTxt1_1{line-height:16px}
#routertext2{line-height:13.4px}
#routertext3{line-height:12.5px}
@media only screen and (device-width: 768px) {
#staticTxt1_3,#staticTxt1_2,#staticTxt1_1{line-height:normal}

}