
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.orangeCallOut {padding-top:4px ! important}
#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4,#ID_router_txt5,#ID_router_txt6{padding-top:6px ! important}
div.orange{background-color:#FACCA8;padding:0;line-height:none;width:99.9% ! important;margin:0 ! important;  line-height: 15px;}
code{padding:0;margin:0;}
#ID_router_txt7{letter-spacing: -0.2px;}