
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_1_drag_4_0 div, #dnd_1_drag_3_0 div { letter-spacing:-0.3px;}
#dnd_1_drag_3_0{line-height:11px;}