
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt02,#ID_txt08,#ID_txt09,#ID_txt10,#ID_txt11,#ID_txt12{line-height:11px !important;}