
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2{line-height:10.5px;}
#ID_router_txt3{line-height:10px;}
#ID_router_txt4{line-height:11px;letter-spacing: -0.6px;}
#ID_txt12,#ID_txt13,#ID_txt14{letter-spacing:-0.5px !important;}
#ID_txt04{letter-spacing:0.5px !important;}
#ID_txt08{letter-spacing:0px !important;}
#ID_txt09{letter-spacing:-0.2px !important;}
#ID_txt01{letter-spacing:0.5px !important; line-height:11px !important}
#ID_txt07,#ID_txt08,#ID_txt09{ line-height:10.9px  !important}
