
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#routerTextSlide2{
	line-height:110%;
	font-size:11px;
	letter-spacing:-.4px;
}
/*.col1{line-height:21px;}
.col2{padding-left:182px;margin-top:-14px;}
.col3{padding-left:282px;margin-top:-13px;}
.col4{padding-left:320px;margin-top:-14px;}
.col5{padding-left:380px;margin-top:-14px;width:152px}
.col6{padding-left:521px;margin-top:-14px;}
*/
/*#routertextSlide1{width:404px ! important}
#routertextSlide1{padding:0;margin:0;line-height:15px}
#routertext2{float:left;width:595px;}
#routertext2 span.col1{float:left;width:190px}
#routertext2 span.col2{float:left;width:110px}
#routertext2 span.col3{float:left;width:30px}
#routertext2 span.col4{float:left;width:44px}
#routertext2 span.col5{float:left;width:155px}

.space{padding-left:22px;}
.space1{padding-left:22px;}
#routerTextSlide2{line-height:13px;}*/
