
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#router_s1_text1 {padding-left:2px; word-spacing:-1px;}

.width30 {width:170px !important;}