
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
iframe>.ui-layout-pane {overflow:hidden !important;}

/*#flashContent div { border:1px solid red;}*/
.main_bg {left: 20px;position: relative;top:87px;}


#send, #reset {left: 163px; margin: 0 auto;position: absolute;text-align: center; font-weight:bold; top: 346px; width: 21%; font-size:11px;background: #00a1e3; padding:4px; border-radius:4px; /* Old browsers */
background: -moz-linear-gradient(top, #00a1e3 0%, #038bd1 97%, #038bd1 98%, #038bd1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(97%,#038bd1), color-stop(98%,#038bd1), color-stop(100%,#038bd1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00a1e3 0%,#2989d8 97%,#038bd1 98%,#038bd1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00a1e3 0%,#2989d8 97%,#038bd1 98%,#038bd1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00a1e3 0%,#2989d8 97%,#038bd1 98%,#038bd1 100%); /* IE10+ */
background: linear-gradient(to bottom, #00a1e3 0%,#2989d8 97%,#038bd1 98%,#038bd1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a1e3', endColorstr='#038bd1',GradientType=0 ); /* IE6-9 */ border:1px solid #6fcdf3; background-repeat:repeat !important;}
a { text-decoration:none; color:#FFF; font-weight:bold; display:block;}

#send:hover, #reset:hover {background: #f2f8fb; background: -moz-linear-gradient(top, #f2f8fb 0%, #cdeaf8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f8fb), color-stop(100%,#cdeaf8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f8fb 0%,#cdeaf8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f8fb 0%,#cdeaf8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f8fb 0%,#cdeaf8 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f8fb 0%,#cdeaf8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8fb', endColorstr='#cdeaf8',GradientType=0 ); /* IE6-9 */ border:1px solid #b1d2e1; color:#038bd1 !important;}


	



/*Start Table Css*/
#table_01 {left: 0;
    position: absolute;
    top: 10px;
    width: 422px; opacity:0;}
table {
    border-collapse: collapse;
    width: 100% !important;
	background-color:#98d3d1;
	border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 2px 2px #999999 !important;
	height:96px;
}
table tbody tr {
    border-color: #98D3D1;
}
table tbody tr td {
    border: 3px solid #98D3D1;
    border-collapse: collapse;
    font-size: 11px !important;
    line-height: 11px !important;
	padding:3px;
	/*padding:4px;*/
}
table tbody tr td b {
    border-collapse: collapse;
    font-size: 11px !important;
    font-weight: bold !important;
}
table tbody tr td font {
    border-collapse: collapse;
    font-size: 11px !important;
}
.table_font {
    border-color: #A2AA23;
    font-size: 11px !important;
    font-weight: bold !important;
    width: 33% !important;
}
.bg { background-color:#eff8f7;height: 20px;vertical-align: middle; font-weight: bold;}
.bg_white { background-color:#FFF;}
.liner { background-color: #0E6360;
    height: 0;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 1px !important;}
/*End Table Css*/


@charset "utf-8";
/* CSS Document */
/*Starts Global Css Reset*/

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object, {
	padding: 0px;
	margin: 0px; 
	}
img,em,ol,ul,li,form,lable,span,table,caption,tbody,tfoot,font,h1,h2,h3,h4,h5,h6,p,a,dl,dt,dd {
vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
        }


a img, :link img, :visited img {
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset, img, abbr {
	border: 0;
	}
address, caption, cite, code, dfn, em, 
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
ol,ul {
	list-style: none;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
	font-size: 1.0em;
	}
q:before, q:after {
	content: '';
	}
a, ins {
	text-decoration: none;
	}
	
/*End Global Css Reset*/

/*Table Text Css Starts*/
.orange {border: 2px solid #FED100;
    display: block;
    line-height: 12px;
    padding: 2px;}
#txt1,#txt2,#txt3,#txt4,#txt5,#txt6,#txt7,#txt8 {height: 13px; /*width:20px;*/
    line-height: 0;
    vertical-align: middle; /*color: white;*/ z-index:999 !important;}
.table_bg {background-color: #F26200; height: 14px !important; /*width: 78px !important;*/}
.table_border { background-image:url(table_border.png); background-repeat:no-repeat;}
span { /*border:1px solid red;*/}
/*Table Text Css End*/


#router {font-size: 11px;
    left: 187px;
    position: absolute;
    text-align: center;
    top: 147px;
    width: 56px;}
/*Destination Css End*/

	
	


#tdborder_1 {border: 3px solid #fed100;height: 16px;left: 2px;position: absolute;top: 57px;width: 99px;opacity:1;}
#tdborder_2 {border: 3px solid #fed100;height: 16px;left: 107px;position: absolute;top: 57px;width: 99px;opacity:0;}
#tdborder_3 {border: 3px solid #fed100;height: 16px;left: 211px;position: absolute;top: 57px;width: 99px;opacity:0;}
#tdborder_4 {border: 3px solid #fed100;height: 16px;left: 317px;position: absolute;top: 57px;width: 99px;opacity:0;}
#tdborder_5 {border: 3px solid #fed100;height: 16px;left: 2px;opacity: 0;position: absolute;top: 98px;width: 99px;}
#tdborder_6 {border: 3px solid #fed100;height: 16px;left: 106px;opacity: 0;position: absolute;top: 98px;width: 99px;}
#tdborder_7 {border: 3px solid #fed100;height: 16px;left: 211px;opacity: 0;position: absolute;top: 98px;width: 99px;}
#tdborder_8 {border: 3px solid #fed100;height: 16px;left: 317px;opacity: 0;position: absolute;top: 98px;width: 99px;}


#table_title { font-size:14px;}

/*#com_all,#pre_all { height:148px;}*/

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
	 75% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
	 75% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
	 75% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.border img {
    -webkit-animation: blink 3s;
    -webkit-animation-iteration-count: blink 3s;
    -moz-animation: blink 3s;
    -moz-animation-iteration-count: blink 3s;
    -o-animation: blink 3s;
    -o-animation-iteration-count: blink 3s;}


@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  
#pre_3 {border: 0 solid red;
    left: 73px;
    position: absolute;
    top: 258px;
    width: 56px;z-index:999;}
#pre_4 {border: 0 solid red;
    left: 138px;
    position: absolute;
    top: 289px;
    width: 56px;z-index:999;}
		
#pre_5 {left: 215px;
    position: absolute;
    top: 288px;
    width: 56px; border:0px solid red;}
	
#pre_6 {border: 0px solid red;
    left: 286px;
    position: absolute;
    top: 260px;
    width: 56px;}
#pre_7 {border: 0px solid red;
    left: 335px;
    position: absolute;
    top: 202px;
    width: 56px;}
#pre_8 {border: 0px solid red;
    left: 348px;
    position: absolute;
    top: 142px;
    width: 56px;}
#com5 {left: 214px;
    position: relative;
    top: 68px;
    width: 56px;}
#com6 {left: 285px;
    position: relative;
    top: -15px;
    width: 56px;}
#com7 {left: 334px;
    position: relative;
    top: -128px;
    width: 56px;}
#com8 {left: 347px;
    position: relative;
    top: -243px;
    width: 56px;}
#com3 {
    left: 72px;
    position: relative;
    top: 148px;
    width: 56px;
}
#com4 {
    left: 137px;
    position: relative;
    top: 124px;
    width: 56px;
}
#mainDiv
{
width:442px;
height:398px;
position:absolute;
top:-40px;
left:34px;}

	}
	
	
/*New Css for Fixing all Browser issue*/
.com_parent { position:absolute; top:0px; left:0px;}

#com1 {left: 19px;
    position: absolute;
    top: 139px;
    width: 56px;}
#com2 {left: 24px;
    position: absolute;
    top: 200px;
    width: 56px;}
#com3 {left: 72px;
    position: absolute;
    top: 256px;
    width: 56px;}
#com4 {left:137px;
    position: absolute;
    top: 288px;
    width: 56px;}
#com5 {left: 214px;
    position: absolute;
    top: 287px;
    width: 56px;}
#com6 {left: 284px;
    position: absolute;
    top: 257px;
    width: 56px;}
#com7 {left: 334px;
    position: absolute;
    top: 199px;
    width: 56px;}
#com8 {left: 347px;
    position: absolute;
    top: 138px;
    width: 56px;}


#pre_1 {border: 0 solid red;
    left: 20px;
    position: absolute;
    top: 139px;
    width: 56px; z-index:999;}
#pre_2 {border: 0 solid red;
    left: 25px;
    position: absolute;
    top: 200px;
    width: 56px;z-index:999;}
#pre_3 {border: 0 solid red;
    left: 73px;
    position: absolute;
    top: 256px;
    width: 56px;z-index:999;}
#pre_4 {border: 0 solid red;
    left: 138px;
    position: absolute;
    top: 288px;
    width: 56px;z-index:999;}
#pre_5 {border: 0 solid red;
    left: 215px;
    position: absolute;
    top: 287px;
    width: 56px;z-index:999;}
#pre_6 {border: 0 solid red;
    left: 285px;
    position: absolute;
    top: 257px;
    width: 56px;z-index:999;}
#pre_7 {border: 0 solid red;
    left: 335px;
    position: absolute;
    top: 199px;
    width: 56px;z-index:999;}
#pre_8 {border: 0 solid red;
    left: 348px;
    position: absolute;
    top: 138px;
    width: 56px;z-index:999;}





	
#com_all, #pre_all {
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
}