
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#show {border:1px solid #FFFFFF; padding:2px 0px; background:#66C0E5; font-weight:bold; text-align:center; color:#000; font-size:12px; outline:none;}

input[disabled="true"]{
	color:#000;
	background:#D3D1D2 !important;
	-webkit-text-fill-color: black;
	font-weight:bold; 
	text-align:center;
	outline:none;
	border:none;
 }