
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_staticTxt1 > div{
	margin: 2px 0 2px 5px;
	letter-spacing: -1.2px!important;
	line-height: 17px !important; 
}
#ID_s1_staticTxt1 > div > b{
	color: #000;
}

#ID_s2_staticTxt1 table b{
	color: #000;
} 

#ID_s2_staticTxt2 > #innerDiv{  
	height:328px;
	overflow: auto;
}

#ID_s2_staticTxt2 table tr td {
	padding-left: 4px;
	line-height: 16.3px !important; 
}

.lightgreen {
    background-color: #DBECDA;
    display: inline-block;
    width: 100%;
}
.orange { 
    width: 100%;
}
.purple { 
    width: 100%;
}
#ID_s3_SC01, #ID_s4_SC01{
	letter-spacing:-0.1px;
}