
/*   load the main media CSS file    */


@import url('../../../common/styles/media2.css');
/*@import url('../../../common/styles/media3.css');*/

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s1_txt01 { line-height:17px;}