
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01{
	line-height:12.6px;
	font-size:9px;
	letter-spacing:-1.5px;
	
}
#ID_s2_txt01{
	line-height:116%;
	font-size:9px;
	letter-spacing:-1.5px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{
	#ID_s1_txt01
	{
		margin-top: 4px;
		line-height:129%;		 
		font-size:10px ;		 
	}
	
	#ID_s2_txt01{
		margin-top: 5px;
		line-height:119%;		 
		font-size:10px ;
}

}