
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden !important;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt18 {width:14px !important;}
#ID_s1_txt02,#ID_s1_txt07,ID_s1_txt08 {letter-spacing: -0.2px;}
#ID_s1_txt16,#ID_s1_txt14,#ID_s1_txt15 {width:36px !important;}