
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
    line-height: 13.5px;
    letter-spacing: -0.2px;
    word-spacing:  -2.2px;
}
.fullWidth{
    width: 100% !important; 
}

.slong{
	padding-bottom: 40px; 
}

#ID_router_txt2 > table tr td:nth-child(3) { 
	padding: 0 1px;
}

 