
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{width:419px;}

.orange {padding-right:10px; margin-bottom:1.5px;position:relative; left:-0.5px;}

#n5{top:-42px; left:-15px;}
#ID_s2_table01{background-color:#98d3d1;border-radius:5px;border:1px solid #98d3d1 !important; line-height:15px; width:420px !important; box-shadow:#393536 0px 0px 4px;}
#ID_s2_table01 tr td.col2{line-height:12px; font-size:11px !important;}
#ID_s2_table01 table {width:100%;}
#ID_s2_table01 tr td.wdith50 {width:50px !important;}
#ID_s2_table01 tr td.liner_top{line-height:.2; margin: 0;padding: 0;}
#router_s1_text1 {line-height:15px; white-space:pre; letter-spacing:-0.6px;}
#ID_s1_txt01, #ID_s1_txt02, #ID_s1_txt03, #ID_s1_txt04, #ID_s1_txt05{display:inline-block; position:relative; left:-21px; white-space:normal; font-size:10px; line-height:11px; font-family:arial;}
#ID_s1_txt01 { width:180px;top:5px;color:#393536}
#ID_s1_txt02 { width:100px;color:#393536}
#ID_s1_txt03 { width:116px;top:5px;color:#393536 }
#ID_s1_txt04 { width:166px;top:10px;color:#393536}
#ID_s1_txt05 { width:132px; top:-12px;color:#393536}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.orange {position:relative; left:0px; padding-left:2px;}
	#ID_s1_txt01 { top:0px; }
	}