
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.tdFill
{
  background: none repeat scroll 0 0 #99D5EF;
  box-shadow: 0 0 2px 2px #1EABE0 inset;
  height: 14px !important;
  color:#000;
  border:1.8px outset #1EABE0 !important;
  border-radius:3px !important;
  
}
.tdOver
{
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 2px 2px #1EABE0 inset;
  height: 14px !important;
  color:#000;
  border:1.5px outset #1EABE0 !important;
  
}

.mtable tr td{border-right:3px solid #98D3D1 !important;}
#td12{border-bottom:3px solid #98D3D1 !important;}

#td1,#td2,#td3,#td4,#td5,#td6,#td7,#td8,#td9,#td10,#td11,#td12 { border:0px !important; border-collapse:collapse !important; padding-left:0px !important;}

.mtable tr td {padding:0px !important;}

.br,table {border:3px solid #98D3D1 !important;}
.br_fl {
    border-right: 3px solid #98D3D1 !important;
    width: 100%;
    float: left;
}

#ID_s2_table font {padding-left:6px; display:block;padding-top:1.5px !important;}

#td1,#td3,#td4{border-bottom:2.5px solid #1EABE0 !important;border-top:2.5px solid #1EABE0 !important;}
#td2{border-bottom:2.5px solid #1EABE0 !important;border-top:2.5px solid #1EABE0 !important;}
@media only screen and (device-width: 768px) {
 .tdFill
{
  
  box-shadow: 1px 1px 3px 3px #1EABE0 inset;
  background: none repeat scroll 0 0 #99D5EF;
  height: 15px;
  color:#000;
  border:1.8px outset #1EABE0 !important;
  
   
}
.tdOver
{
  background: none repeat scroll 0 0 #fff;
 box-shadow: 1px 1px 3px 3px #1EABE0 inset;
  height: 15px;
  color:#000;
  border:1.2px outset #1EABE0 !important;
  padding:0px;
}
}