
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#new span,#new1 span{color:#f78a37 !important;font-family: Helvetica,Arial,sans-serif;font-weight:bold;}
#new2{letter-spacing:2.2px;font-family: Helvetica,Arial,sans-serif;}
#new2 span{font-family: Helvetica,Arial,sans-serif;color:#6ac130;font-weight:bold;}
#new2 span.normal{font-family: Helvetica,Arial,sans-serif;color:#555253;}
#new2 span.one{color:#662d8b;}

#new3{letter-spacing:1.9px;font-family: Helvetica,Arial,sans-serif;}
#new3 span{font-family: Helvetica,Arial,sans-serif;color:#6ac130;font-weight:bold;}
#new3 span.normal{font-family: Helvetica,Arial,sans-serif;color:#555253;}
#new3 span.one{color:#662d8b;}
{}