
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	line-height: 13px;
	letter-spacing: -0.8px;
}

.orange{
	width: 100%;
}

#ID_router_txt2 pre{
	letter-spacing: -0.7px !important;
}

#ID_router_txt3{
	margin: 0; padding: 0;
	position: relative;
	left: -54px;
}

#text2_1{
	position: relative;
	left: -53px;
}
