
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_SC2,#ID_SC2 b,#ID_SC2 font {letter-spacing: -.1px;}
font[size="10"], font[size="10"] b {font-size:10px !important;}
font[size="9"], font[size="9"] b {font-size:9px !important;}
#staticText {line-height:12.3px;}

#staticText table {letter-spacing:-0.5px;}
