
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


#slide_2 #ID_txt01,#slide_2 #ID_txt04,#slide_2 #ID_txt05,#slide_2 #ID_txt06,#slide_2 #ID_txt07,#slide_2 #ID_txt08,#slide_2 #ID_txt09,#slide_2 #ID_txt10,#slide_2 #ID_txt11,#slide_2 #ID_txt12,#slide_2 #ID_txt13{opacity:.25 !important;}

#slide_3 #ID_txt01,#slide_3 #ID_txt02,#slide_3 #ID_txt03,#slide_3 #ID_txt07,#slide_3 #ID_txt08,#slide_3 #ID_txt09,#slide_3 #ID_txt10,#slide_3 #ID_txt11,#slide_3 #ID_txt12,#slide_3 #ID_txt13{opacity:.25 !important;}

#slide_4 #ID_txt01,#slide_4 #ID_txt02,#slide_4 #ID_txt03,#slide_4 #ID_txt04,#slide_4 #ID_txt05,#slide_4 #ID_txt06,#slide_4 #ID_txt09,#slide_4 #ID_txt10,#slide_4 #ID_txt11,#slide_4 #ID_txt12,#slide_4 #ID_txt13{opacity:.25 !important;}

#slide_5 #ID_txt01,#slide_5 #ID_txt02,#slide_5 #ID_txt03,#slide_5 #ID_txt04,#slide_5 #ID_txt05,#slide_5 #ID_txt06,#slide_5 #ID_txt07,#slide_5 #ID_txt08{opacity:.25 !important;}