
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#router_text{letter-spacing:-0.2px;}
#router_text{background:url(arrow1.png) 206px 49px no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#router_text{background:url(arrow.png) 197px 48px no-repeat;}
}



