
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
@media only screen and (device-width: 768px) {
#ID_txt11{
width:122px !important;
padding-left:1px;
}
#ID_txt08{
padding-left:1.5px !important;
}
}