
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.mtitle font {font-size:12px !important;}
/*table.mtable{width:410.95px !important;}*/
table.mtable tr td font {font-size:11px !important;}

#ID_s2_table,#ID_s3_table,#ID_s4_table,#ID_s5_table { max-height:none !important;}