/*   load the main media CSS file    */
@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:100%;
	height:100%;
}


#ID_s2_txt06{background-color:#E0D5E6;border:2px solid #652C8A;padding:5px;border-radius:5px}

#ID_s2_txt07{background-color:#FDE6D4;border:2px solid #F68026;padding:5px;border-radius:5px}

#ID_s3_txt01{background-color:#FDE6D4;border:2px solid #F68026;padding:5px;border-radius:5px}

.static192{
	letter-spacing:0.6px;
}
#ID_s2_txt04, #ID_s2_txt05{
	line-height: 10px;
	word-wrap:break-word;
}
#ID_s2_txt03{
	line-height: 11px;
	word-wrap:break-word;
}