
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:100%;
	height:100%;
}
#mainDiv {
    height: 400px;
    width: 747px;	
	position:absolute;
}
#button1 div{font-size: 12px !important;height: auto;margin-top: -24px !important;padding-left: 2px !important;}
#button0 div{font-size: 12px !important;height: auto;margin-top: -24px !important;padding-left: 2px !important;}
#drop0 img#tick0,#drop1 img#tick1,#drop2 img#tick2,#drop3 img#tick3,#drop4 img#tick4,#drop5 img#tick5,#drop6 img#tick6,#drop7 img#tick7,#drop8 img#tick8,
#drop9 img#tick9,#drop10 img#tick10,#drop11 img#tick11,#drop12 img#tick12,#drop13 img#tick13,#drop14 img#tick14,#drop15 img#tick15,#drop16 img#tick16,
#drop17 img#tick17,#drop18 img#tick18,#drop19 img#tick19,#drop20 img#tick20,#drop21 img#tick21,#drop22 img#tick22,#drop23 img#tick23,#drop24 img#tick24,
#drop25 img#tick25,#drop26 img#tick26,#drop27 img#tick27,#drop28 img#tick28,#drop29 img#tick29,#drop30 img#tick30,#drop31 img#tick31,#drop32 img#tick32,
#drop33 img#tick33,#drop34 img#tick34,#drop35 img#tick35
{position:absolute;left:-17px!important;width:14px;height:14px;border:0 !important;}

#ID_FEEDBACK{cursor: pointer !important; z-index: 11120 !important;}
#ID_FEEDBACK div {
    font-size: 12px !important;
    left:4px !important;
    line-height: 16px;
    padding: 0 0 0 3px;
	color:#000;
    text-align: left !important;
	width: 210px !important; cursor: pointer !important;
    z-index: 11120 !important;
	}


/* This is for ipad hack*/
@media only screen and (device-width: 768px) {
#button1 div{font-size: 12px !important;height: auto;margin-top: -26px !important;padding-left: 2px !important;}
#button0 div{font-size: 12px !important;height: auto;margin-top: -26px !important;padding-left: 2px !important;}
}
#ID_s1Title{ color:#442557 !important; font-weight:bold; }