
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
div #staticTxt{z-index:1;width:439px !important;}
.space{padding-left:37px;}
.space1{padding-left:85px;}
#img1{top:3px;position:relative;margin-bottom:-14px;margin-left:-2px;}
#img2{top:7px;position:relative;margin-bottom:-11px;margin-left:-2px;}
.divCol{background-color:#FACCA8;margin-left: 36.5px;margin-top: -12px;}

@media only screen and (device-width: 768px) {
#img1{top:6px;position:relative;}
#img2{top:9px;position:relative;}
}