
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow-y:hidden; 
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s3_txt01{
	line-height:18px;
}
/*#ID_s1_table01 .mtable td{
	font-size:10.5px !important;
}*/
#ID_s2_txt01{
	line-height:18px;
}
/*.arial{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}*/

.command { font-family:"Courier New";}

#ID_s3_txt01 pre{
letter-spacing:-0.2px;
}