
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

/*#ID_btn01_header, #ID_btn02_header, #ID_btn03_header, #ID_btn04_header
{
	color:#442557 !important;
}*/