
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt2{padding-left:4px !important;letter-spacing:-.5px;line-height:14px;}
.orange2{width: 96.6%;
    margin: 0 0 0 -15px;
    padding: 0 0 0 15px;}
	
.orange1{margin: 0 0 0 -8px;
    padding: 0px 0 0 8px;
    width: 98.1%;}
