
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
.mtable {
    border-radius:0! important;
    box-shadow: none !important;

}
.mtable tr td{border:2px solid #393536; border-radius:none !important;  vertical-align:middle !important; text-align:left;}
#ID_txt01,#ID_txt02,#ID_txt03,#ID_txt04,#ID_txt05{border-radius:5px;padding:5px 2px; }
#ID_txt01,#ID_txt02{border:2px solid #F4A4A7;background-color:#F9D1D2}
#ID_txt03{border:2px solid #652C8A;background-color:#E0D5E6}
#ID_txt04{border:2px solid #6BB367;background-color:#DBECDA}
#ID_txt05{border:2px solid #D3BA46;background-color:#FFF3B9