
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s2_table{background-color:#98D3D1;border-radius:5px;border:1px solid #98D3D1 !important; box-shadow: 0 0 2px 2px #999999 !important;max-height: 175.85px !important;}
#ID_s3_table02{background-color:#FACCA8;border-radius:5px;border:1px solid #FACCA8 !important; box-shadow: 0 0 2px 2px #999999 !important;}


#ID_s3_table02 tr td {
    border: 3px solid #FACCA8;
    margin: 0;
    padding: 0 3px;
}