
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.bluebox {
	border:1px solid #FFFFFF; 
	padding-bottom:1px;
	background:#66C0E5;
	font-weight:bold; 
	text-align:center; 
	color:#000;
	font-size:11px; 
	outline:none;
 }
input{
	color:#000; 
	font-size:11px;
	text-align:center;
	outline:none; 
	border:none; 
	font-weight:bold;
	display:inline;
	margin:0px 2px;
	border-radius:0px;
	padding:2px 0px;
	font-family:Helvetica,Arial,sans-serif;
 }

 #ID_txt02{
 	letter-spacing: -0.8px;

 }