
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
/*#ID_s1_drag02{letter-spacing:-.5px !important;}*/
#dnd_1_drag_1_0 div{left:2px !important;}
#dnd_2_drag_1_0 div{left:2px !important;}
#dnd_3_drag_1_0 div{left:2px !important;}