
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_SC3{letter-spacing:-.21px}
#ID_SC4{letter-spacing:-.11px}

#router_text1{
	font-size:10px;
  letter-spacing: -0.4px;
  line-height: 1.4; 
} 

#router_text2{
	font-size:10px;
  letter-spacing: -0.4px;
  line-height: 1.4; 
}