
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.red {background-color:#FACCA8; display:inline-block; padding:1px; width:395px;}
.green {background-color:#B5D9B3; display:inline-block; padding:1px; width:395px;}
.blue {background-color:#C1ABD1; display:inline-block; padding:1px; width:395px;}


@media only screen and (device-width: 768px) {
 #ID_s1_header2{margin-top:-12px;}
}





