
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:98%;

}
#flashContent {
    width:98%;
    height:98%;
}
#dnd_1_drag_0_0 div{
	line-height: 11px;
	left: 1px !important;
}
#dnd_1_drag_1_0 div{
	line-height: 11px;
	left: 1px !important;
}
