
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt14{height:264px;}

/*#ID_txt14{
border:2px solid #BDBBBC;
background-color:#FFF3B9;
border-radius:5px;
-moz-border-radius:5px;
padding:5px;
color:#393536;
height:280px;

}*/