
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01{
width:105.25px;
padding:5px;
background:#E0D5E6;
border:2px solid #652C8A;
border-radius:5px;	
}
#ID_txt03{

width:102.4px;
padding:5px;
background:#F3D0D6;
border:2px solid #D1415A;
border-radius:5px;
}
#ID_txt02
{
width:159.1px;
padding:5px;
background:#E9E7E8;
border:2px solid #7B797A;
border-radius:5px;
line-height:12px !important;
}
#ID_txt04
{
width:115.1px;
padding:5px;
background:#DBECDA;
border:2px solid #46A040;
border-radius:5px;
line-height:12px !important;	
}
#ID_s4_txt01{height: 121px !important;
    letter-spacing: -0.8px !important;
    padding-left: 4px !important;
    line-height: 15px;
}

.orange1 {
    display: inline-block;
    margin: 0 0 0 -4px;
    padding: 0 0 0 4px;
    width: 100%;
}