@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s2_staticTxt1 table{
	padding: 2px 2px ;
}
table tr td{
	 word-spacing: -3.6px;
	 line-height: 13.5px;
}

table tr td b{
	color: #000;
}

  #ID_s3_SC5{
  	overflow-x: hidden !important;
  }