
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt05,#ID_txt03{
	  text-shadow: 1px 0px 0px #000000 , 0px 2px 0px #000000, 2px 0px 0px #000000, 
  0px -1px 0px #000000, 1px 4px 5px #000000;
}
