
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_1, #ID_router_txt1, #ID_router_txt2, #ID_router_txt3, #ID_router_txt4{
	letter-spacing:-0.5px;
}
#ID_static_1 pre, #ID_router_txt1 pre, #ID_router_txt2 pre, #ID_router_txt3 pre, #ID_router_txt4 pre{
	padding:2px !important;
}
.new1{font-family:"Courier New", Courier, monospace;font-style:italic;}
.new{font-family:"Courier New" !important;}