
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt4 span{width:408px;}

@media only screen and (device-width: 768px) {
#ID_router_txt4 span{
width:409px;

		}

}