
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s2_txt01 >div {
	margin: 2px 0 2px 5px;
	letter-spacing: -0.6px!important;
	line-height: 14.3px !important; 
} 

#ID_s2_txt01 >div > table {
	margin: 2px 0 2px 5px; 
	vertical-align: text-top;
} 
#ID_s2_txt01 >div > table td {
	 vertical-align: top;
} 


#ID_s2_txt01 >div > div {
	margin: 0 0 0 5px;
}