
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt15{
     border:1px solid #CB6D25;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:1px 1px 1px 1px;
    background:#CB6D25;
}
#ID_txt16{
    border:1px solid #CB6D25;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
     padding:1px 1px 1px 1px;
    background:#CB6D25;
}



