
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.mtitle font{font-size:11px !important;}
#ID_router_txt1{letter-spacing:-.5px;padding-left:4px !important;}
.font8px{font-size: 7.4px !important;}

font[face="_typewriter"]{
	font-family:courier new !important;
}

#ID_s1_table01{
	letter-spacing:-.2px;
}
#ID_SC5{letter-spacing:-0.3px !important;}