
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01,#ID_s1_txt02,#ID_s1_txt03,#ID_s1_txt04,#ID_s1_txt05,#ID_s1_txt07{pointer-events: none !important;}