
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#videoDiv{
    text-align:center;
}

#videoDiv > div {
    margin: 0 auto;
    position: static !important;
    width: 100%;
}
#ytplayer { width:400px;}


@media only screen and (device-width: 768px) and (orientation: landscape) {
    #videoDiv {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    #ytplayer { width:300px !important; margin-top:-20px;} /* your css rules for ipad portrait */
      
     #videoDiv > div {
        margin: 0 auto;
        position: static !important;
        width: 100% !important;
    }

}