
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.greencallout{border:2px solid #DAE17A;background-color:#F4F5D3;padding:5px;border-radius:5px}
.greencallout1{border:2px solid #cccea6;background-color:#dadda7;padding:5px;border-radius:5px;color:#b0aeae ! important}