
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;}
#ID_s4_txt01{line-height:15px;letter-spacing:-.5px;}
#ID_s4_txt01 b {font-weight:bold;}
table{overflow-x:hidden !important;}
table tr td,table tr td{font-size:11px !important;}
#ID_s5_txt01{overflow-x:hidden !important;height:153px !important}
#ID_s4_txt01{line-height:14px;margin-top:1px;padding-left:3px !important;}
#ID_s5_txt01{line-height:14px;margin-top:1px;padding-left:1px !important;}