
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}



.mtable_title td {line-height:49px;}
.no_border {border: medium none !important;border-collapse: collapse; padding: 4px; line-height:19px;}
#ID_s1_txt {font-size:10px !important;}
#ID_s1_txt span { background-color:#FACCA8;}

pre{letter-spacing: -0.9px ! important;}
#ID_s2_title span {font-family:Courier New !important;}