
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01,#ID_txt03{padding-top:1px}
@media only screen and (device-width: 768px) {
#ID_txt01,#ID_txt03{margin-top:-2.5px}
}