
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt02{text-shadow:1px 1px 4px #000,1px 1px 4px #000,1px 1px 4px #000;color:#fff ! important;}
#ID_static_1,#ID_static_2{font-size:2em ! important}