
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
	
}
#ID_s2_table table { border-collapse:collapse}
#ID_s2_table table tr td{ border:2px solid #393536 !important; }

#ID_s2_table{font-size:9px !important;}
#ID_address2{left:-2px !important;}
#ID_box5,#ID_box4{width: 54px !important;}
#ID_box6{width: 30px !important; word-wrap: break-word; left: 2px !important;}