
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#env1 {
    background: url("envelope.png") no-repeat scroll left top transparent;
    height: 39px;
    left: -32px;
    position: absolute;
    top: 0;
    width: 62px;
	opacity:0;
}

#env6 {
    background: url("envelope.png") no-repeat scroll left top transparent;
    height: 39px;
    left: -32px;
    position: absolute;
    top: 0px;
    width: 62px;
	opacity:1;
	opacity:0;
}

#env4,#env8 {
    background: url("envelope.png") no-repeat scroll left top transparent;
    height: 39px;
    left: 208px;
    position: absolute;
    top: -36px;
    width: 62px;
	opacity:0;
}

#env span,#env4 span,#env6 span,#env7 span {
    left: -21px;
    position: absolute;
    text-align: center;
    top: 4.3px;
    width: 100px;
	font-weight:bold;
}

#arrow
{
display:none;
}

#tabl
{
z-index:-999;
display:none;
}
#dvSliderContainer
{
bottom:5px;	
}

.mbar #slider {width:22em !important;}

#ID_txt01,#ID_static_4,#ID_static_5,#ID_txt02,#ID_txt03,#ID_static_6,#ID_static_7,#scrow{display:none;}

#bg_white_lg {height:90px; background-color:white;}

#bg_white_arrow { height:34px; background-color:#FFF;}

#bg_white_sml { height:28px; background-color:#FFF;}

/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
#dvSliderContainer {
    left: 0%;

}
}
*/
