
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_titleTxt01,#ID_titleTxt02,#ID_titleTxt03,#ID_titleTxt04{color:#442557 !important;}

#ID_txt03{

	line-height:11px !important;
}