
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}


.purple_text { color:#652C8A; margin-right: -1px;padding-left: 4px;}

.orange_text { color:#3F863A; margin-right: -1px;padding-left: 4px;}

#staticTxt5 b {float: left;
    margin-left: 13%;
    width: 65%;}

.left_text { float:left;}
.right_text { float:right;}

/*.spacer { letter-spacing:1px;}*/

#staticTxt1,#staticTxt2,#staticTxt3,#staticTxt4 { font-family:Courier !important; font-weight:bold; letter-spacing: 1.4px;}

@media all and (device-width: 768px) and (device-height: 1024px){
#ID_txt03 { top:-10px !important;}
#staticTxt1,#staticTxt2,#staticTxt3,#staticTxt4 { left:2px !important;}
.orange_text { color:#3F863A; margin-right: 1px;padding-left: 3px;}
.purple_text { color:#652C8A; margin-right: 1px;padding-left: 3px;}
}