
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
	z-index:0;
}

.orangeCallOut{padding:3px ! important;}

#ID_txt03{border:2px solid #000102;
border-radius:5px;
padding:9px 0 63px 0px;
background:#BDBBBC;
height:67px
}
#ID_txt04,#ID_txt11,#ID_txt19{background-color:#A2AA23;padding:4px 0;}
#ID_txt05,#ID_txt12,#ID_txt20{background-color:#E8A0AC;padding:4px 0;}
#ID_txt06,#ID_txt24,#ID_txt18{background-color:#F3D0D6;padding:4px 0;}
#ID_txt07{background-color:#A7A5A6;padding:4px 0;}
#ID_txt08{background-color:#A3913B;padding:4px 0;}
#ID_txt09,#ID_txt13,#ID_txt21{background-color:#FACCA8;padding:4px 0;}
#ID_txt14,#ID_txt22{background-color:#A3913B;padding:4px 0;}
#ID_txt15,#ID_txt23{background-color:#BDBBBC;padding:4px 0;}