
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{
	font-family:Courier New;
	font-size:10pt;
	font-weight:bold;
	letter-spacing:1px;
	white-space:pre;
}