
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt10,#ID_s1_txt03,#ID_s1_txt13{
	line-height:9px !important;
	}
#ID_s1_txt02,#ID_s1_txt09,#ID_s1_txt12{line-height:11px !important;}