
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
li {line-height: 16px;
    margin-left: 2.5em !important;
    padding-left: 5px;}