
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01{background-color:#CCE9E7;border:2px solid #00918E;padding:14px 0 13px 0! important}
#ID_txt02{background-color:#CCE9E7;border:2px solid #00918E;padding:14px 0 ! important}
#ID_txt03{background-color:#CCE9E7;border:2px solid #00918E;padding:6.5px 0 ! important}
#ID_txt05{background-color:#CCE9E7;border:2px solid #00918E;padding:6.5px 0 ! important}
#ID_txt06{background-color:#CCE9E7;border:2px solid #00918E;padding:14px 0 ! important}