
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
table{
	width:700px !important;
}
.width25{
	 width:25% !important;
}
.width20{
	width:20% !important;
}
.width10{
	width:10% !important;
}
.width15{
	width:15% !important;
}

#ID_s3_table01 table{
	width:740px !important;
}