
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.spanBackgroundColor{background-color:#F2AA79}

#ID_SC4 li{
	line-height:13px;
}