
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	
}
#ID_router_txt1{
	letter-spacing:-0.6px !important;
	}
.lyellow { background-color:#FFFADD; display:inline-block; width:auto;border-top:1px solid #BDBBBC; width:100% !important}
.lightgreen { background-color:#DBECDA; display:inline-block; width:auto;border-top:1px solid #BDBBBC; width:100% !important}
.violet { background-color:#E0D5E6; display:inline-block; width:auto;border-top:1px solid #BDBBBC; width:100% !important}
.dpink { background-color:#F3D0D6; display:inline-block; width:auto;border-top:1px solid #BDBBBC; width:100% !important}
.lorange { background-color:#FDE6D4; display:inline-block; width:auto;border-top:1px solid #BDBBBC; border-bottom:1px solid #BDBBBC; width:100% !important}