
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1 { letter-spacing:-1px; line-height: 15px}
#ID_router_txt3 {line-height: 11.8px;}
#ID_router_txt3 span { background-color:#FACCA8; line-height:13px;}
