
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s2_circ01,#ID_s2_circ02,#ID_s2_circ03,#ID_s2_circ04,#ID_s2_circ05,#ID_s2_circ06,#ID_s2_circ07{
	pointer-events:none;
	align:center
}
.alignCenter{margin-left:5px;}