
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_static_2,#ID_static_8,#ID_static_5,#ID_static_9,#ID_static_12{letter-spacing:-.51px}
#ID_s3_txt01,#ID_s4_txt01 { letter-spacing:-0.3px;}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#ID_static_2 ,#ID_static_8 {left:2px !important;}
#ID_static_1,#ID_static_7 {left:3px !important;}
}






