
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	 line-height: 13.9px;
}
pre b { color: #000;}

pre span{
	background: #FACCA8;
	display: inline-block;
	width: 100%;
} 
#divTrans1{
	position: absolute;
	top: 16px;
	left: 2px;
	width: 410px;
	height: 110px;  
	background-color:#ffffff; 
	opacity:0.8;
	filter:alpha(opacity=80); 
}

#divTrans2{
	position: absolute;
	top: 152px;
	left: 2px;
	width: 410px;
	height: 183px;
	background-color:#ffffff; 
	opacity:0.8;
	filter:alpha(opacity=80);
}

#bgOrange_S1{ background: #FACCA8!important; }
#bgGreen_S1{ background:#B5D9B3!important;}
#bgPurple_S1{ background:#C1ABD1!important;}



#ID_s2_txt01{ background:#DBECDA!important;display: inline!important;}
#ID_s2_txt03{ background:#FDE6D4!important; display: inline!important;}
#ID_s2_txt05{ background:#E0D5E6!important;display: inline!important;}
#ID_s2_txt02{ background:#FFFADD!important;display: inline!important;}
#ID_s2_txt04{ background: #F4F5D3 !important;display: inline!important;}
#ID_s2_txt06{ background:#CCE9E7!important; display: inline!important;} 

#bgGreen{ background:#90C68C!important;display: inline!important;}
#bgOrange{ background:#FAB37D!important; display: inline!important;}
#bgPurple{ background:#C1ABD1!important;display: inline!important;}
#bgYellow{ background:#FEED95!important;display: inline!important;}
#bglightGreen{ background:#DAE17A!important;display: inline!important;}
#bglightOrange{ background: #98D3D1!important; display: inline!important;}

#ID_s2_txt01,#ID_s2_txt02,#ID_s2_txt03,#ID_s2_txt04,#ID_s2_txt05,#ID_s2_txt06{
	z-index: 10; 
	border: 2px solid #4E4C4D; 
	border-radius: 5px;
	padding: 5px 0 ;
} 

#imgArrows{
	height: 137px;
	left: 12px;
	position: absolute;
	top: 64px;
	width: 332px;
}

#ID_s2_title {font-weight:bold !important;}

@media all and (device-width : 768px)and (max-device-width : 1024px) { 
	#divTrans1{ 
		top: 12px;
		left: 2px; 
		height: 104px;  
	} 
	#divTrans2{ 
		top: 147px;
		left: 2px; 
		height: 183px;
	} 
	#imgArrows{
	    height: 139.9px;
	    left: 6px;
	    position: absolute;
	    top: 55px;
	    width: 323.3px;
	} 
	#ID_s2_txt04{
		top:-8px !important;
		left: -2px!important;
	}  
}





