
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#router_txt_8{
	overflow:scroll !important;
	height:115px!important;
	width:404px !important;
	overflow-x:hidden !important;
}
#router_txt_8
{
background: none repeat scroll 0 0 rgba(153, 153, 153, 0.92);
color: #FFFFFF !important;
font-weight: bold !important;
margin: 0 0 0 -4px;
padding: 0 0 0 4px;
/*overflow:auto;*/
}
#ID_SC5{
	letter-spacing:-0.2px;
}