
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt02 ul,#ID_txt03 ul{padding:0;margin:0;}
#ID_txt02 li,#ID_txt03 li{margin-left:13.5px ! important;padding:0;}
