
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#series {width:395px !important;letter-spacing:-1.35px}
#ID_2{letter-spacing:.2px}

@media only screen and (device-width: 768px) {
#series span.col4{margin-left:-3px;}
#series span.col5{padding-left:7px;}
#ID_txt01{margin-top:1px;}
#series {width:390px}
}