
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_1_drag_10_0{letter-spacing:-.5px !important;}
#ID_inst{line-height:11px !important;}