
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

div[id^=ID_static_]{
	line-height:12px;
	letter-spacing:-0.8px;
	font-size:10px !important;
}

#ID_s1_table01,#ID_s2_table01{
letter-spacing:-0.8px;
}
#ID_static_33, #ID_static_28, #ID_static_32, #ID_static_36, #ID_static_40{
	letter-spacing:-1.2px;
	font-size:9px;
}
.mtable .title font[size="10"], .mtable .title  font[size="10"] b {font-size:11px; color:#3a3637;}