
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#router_s1_text1{letter-spacing:-0.5px !important;}
#router_s2_text1{letter-sapcing:-1px !important; line-height:14px !important;}