/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01 { background-color:#FFF; letter-spacing:-0.1px}
#ID_txt03, #ID_t_txt05 {letter-spacing:-0.4px;}
