
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01 span { margin-left:25px;}
#ID_s1_txt01 span.wider { margin-left:15px;}
#ID_s2_txt01 span { margin-left:25px;}
#ID_s2_txt01 span.wider { margin-left:35px;}
#ID_s2_txt01 span.widest { margin-left:45px;}
#ID_s1_txt01 {overflow-x:scroll !important;}
#ID_s1_txt01 { overflow-x:hidden !important; width:414px !important;}
#ID_s1_txt01,#ID_s2_txt01,#ID_s3_txt01 { font-family:"Courier New"; line-height: 17px;}