
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

li {line-height: 12.8px;
    margin-left: 2em !important;
    text-align: left !important;}
.shift { margin-left:3.5em !important;}