
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_bubble01,#ID_s1_bubble02,#ID_s1_bubble03,#ID_s2_bubble01,#ID_s2_bubble02,#ID_s2_bubble05,#ID_s2_bubble03,#ID_s2_bubble04,#ID_s3_bubble01,#ID_s3_bubble02,#ID_s3_bubble03,#ID_s4_bubble02,#ID_s4_bubble01 p{ margin:1px;}

#ID_s2_title font,#ID_s3_title font,#ID_s4_title font{font-size:14px !important;}