
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

.orange{ 
	width: 100%;
}

pre{ 
	letter-spacing: -0.7px;
}

div[id^=ID_router]{
	font-size: 10px !important;
}