
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_router_txt1,#ID_router_txt2,#ID_router_txt3
{
margin-left:3px;
letter-spacing:-.5px;
}

#ID_s2_txt07,#ID_s2_txt08,#ID_s2_txt09,#ID_s2_txt10,#ID_s2_txt11,#ID_s2_txt12,#ID_s2_txt13,#ID_s2_txt14,#ID_s2_txt15,#ID_s3_txt01,#ID_s3_txt02,#ID_s3_txt03,#ID_s3_txt04,#ID_s3_txt05,#ID_s3_txt06,#ID_s3_txt11,#ID_s3_txt12,#ID_s3_txt13,#ID_s3_txt14,#ID_s3_txt15,#ID_s4_txt01,#ID_s4_txt02,#ID_s4_txt03,#ID_s4_txt04,#ID_s4_txt05,#ID_s4_txt06,#ID_s4_txt07,#ID_s4_txt08,#ID_s4_txt09,#ID_s4_txt10
{opacity:.2 !important;}
.orangeCallOut{padding:6px;}
#ID_router_txt4
{
letter-spacing:-1px !important;	
margin-left:3px;
}