
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt14,#ID_s1_txt15,#ID_s1_txt16,#ID_s1_txt17,#ID_s1_txt18{pointer-events:none;}
#ID_s1_txt5{letter-spacing:0.7px;}