
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01{padding-left:4px !important;}
#ID_s2_txt01{padding-left:4px !important;letter-spacing:-.5px !important;}
#ID_s3_txt01{padding-left:4px !important;letter-spacing:-.5px !important;}
.orange1 {
    padding: 0 0 0 16px;
    margin: 0 0 0 -16px;
}

.orange2{padding: 0 0 14px 0;
    display: inline !important;}

.orange3{padding: 0 0 83px 0;
    display: inline !important;}

.command {font-family:"Courier New" !important;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
.orange1 {
    padding: 0 0 0 14px;
    margin: 0 0 0 -14px;
}
}