
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_8, #ID_static_20 {letter-spacing:-.5px;}
#router_text1 {line-height:12px;}
#ID_s1_txt03,#ID_s2_txt04,#ID_s1_txt04 {color:#F68026 !important;}
#router_text1,#router_text2,#router_text3{padding-left:3px !important;}
.orange1{width:99.2%;display:inline-block;margin:0 0 0 -2px;padding:0 0 0 3px;}
.orange2{width:123.2%;display:inline-block;margin:0 0 0 -30px;padding:0 0 0 30px;}
#ID_s2_txt03{line-height:10px !important;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
#ID_s2_txt03{line-height:10px !important;}
}