/*   load the main media CSS file    */
@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
div{letter-spacing:-0.3px;}
div#ID_txt03, div#ID_txt11{letter-spacing:-0.5px;}
#ID_txt07, #ID_txt08,#ID_txt15, #ID_txt16{
	word-wrap:break-word;
}
#ID_txt38{
	word-wrap:break-word;
	 line-height: 10px;
}
#ID_txt27,#ID_txt28{
	line-height: 11px;
}
#ID_txt33,#ID_txt34{
	 line-height: 11px;
}