
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	}

#flashContent {
	width:98%;
	height:98%;
}

#router_s2_text1{letter-spacing:-.41px;}
#router_s3_text1{font-size:11px ! important;letter-spacing:-.11px;}
#router_s5_text1{letter-spacing: -0.25px;}
#router_s6_text1{letter-spacing: -0.45px;}
#router_s3_text1{line-height:14px;}