
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.lyellow{background-color:#FEED95; display:inline-block; width:auto;}
.lgreen1{background-color:#B5D9B3; display:inline-block; width:auto;}
.violet{background-color:#E0D5E6; display:inline-block; width:auto;}
#ID_router_txt2{
	padding-left:4px !important;
	letter-spacing:-0.6px;
	}
#ID_router_txt1{
	padding-left:4px !important;
	}
