
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_4{text-shadow:1px 1px 4px #fff,1px 1px 4px #fff,1px 1px 4px #fff,1px 1px 4px #fff,1px 1px 4px #fff !important;}
#ID_router_txt3 {line-height:23px; overflow:hidden;}