
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt3{letter-spacing:-.5px !important;}
#ID_router_txt2{letter-spacing:-.68px !important;}
#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4{padding-left:4px !important;}
.orange1{margin-top:3px !important;}