
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:100%;
}
#flashContent {
    width:98%;
    height:98%;
    
}


#ID_s1_txt03{
    border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 0 3px 3px;
    background:#E0D5E6;
    height:73px;
}
#ID_s1_txt04{
    border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 0 3px 3px;
    background:#E0D5E6;
    height:70px;
}
#ID_s1_txt05{
    border:2px solid #652C8A;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 0 3px 3px;
    background:#E0D5E6;
    height:70px;
}
#ID_router_txt1{margin-left:5px;}