
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
 

#ID_table_01 table { border-color:#fff; border-collapse:collapse;}
#ID_table_01 table tbody tr { border-color:#fff; padding:0px;}
#ID_table_01 table tbody tr td { border-color:#fff; border-collapse:collapse;}

#ID_table_02 table {border-color:#E9E7E8; border-collapse:collapse;}
#ID_table_02 table tbody tr { border-color:#E9E7E8; padding:0px;}
#ID_table_02 table tbody tr td { border-color:#E9E7E8; border-collapse:collapse;} 


#staticTxt_B1 table {border-color: transparent; border-collapse:collapse;}
#staticTxt_B1 table td { border-color: transparent !important;} 
.orangeShade{
	left: 48px;
    position: absolute;
    top: 57px;
}
#staticTxt_C1 table { border-color:#F68026; border-collapse:collapse;}
#staticTxt_C1 table tbody tr { border-color:#F68026; padding:0px;}
#staticTxt_C1 table tbody tr td { border-color:#F68026; border-collapse:collapse;}

/*#staticTxt_C2 table { border-color:transparent; border-collapse:collapse;}
#staticTxt_C2 table tbody tr { border-color:#fff; padding:0px;}
#staticTxt_C2 table tbody tr td { border-color:#fff; border-collapse:collapse;}*/

.hide{
	color: #fff;
}
 pre{
    letter-spacing: -1.5px;
    line-height: 16px;  
}   

pre span{
	background: #FACCA8;  
	display: inline-block;
	width: auto;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
	#staticTxt_B1{left: -4px!important; top:1px!important; width:121px!important;}
}
 
 