
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt05,#ID_s1_txt06,#ID_s2_txt05,#ID_s2_txt06{line-height:12px !important;}
code{white-space:pre;font-family:Arial !important;}
#ID_s9_txt01{letter-spacing: -0.5px;line-height:12px !important;text-align:center !important;padding-left:1px;}