
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.command {font-family:"Courier New"; line-height:12px !important;}
#ID_s1_txt01 {letter-spacing: -0.1px;}
.spacing {letter-spacing:1px;}
#ID_s3_txt01 span {background-color:#FACCA8}

#staticTxt1,#staticTxt2,#staticTxt3 { font-family:"Courier New";}