
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

#rTXT_S2_1 pre{
letter-spacing:-0.6px;
line-height:14px;
}