
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.activityTitle{
	font-size:11px !important;
}
.labelTitle{
	color:#fff !important;
	font-size:11px !important;
}
.columnLabel{
	font-size:11px !important;
}
input{
	border:0;
	background-color:transparent;
	padding:3px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px !important;
}
#ID_txt02{
	font-size:14px !important;	
}
#ID_txt09,#ID_txt10,#ID_txt11,#ID_txt12{ line-height:12px !important}
#ipAddress_txt{
	color:#F68026 !important;
	font-size:14px !important;
}
input[type="text"][disabled] { color: #000 !important; }