
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

.yellowCallOut{
border:2px solid #d3ba46;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#fffadd;
}

#ID_frame02,#ID_frame01,#ID_frame03{
	  text-shadow: 1px 0px 0px #ffffff , 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 
  0px -1px 0px #ffffff, 1px 4px 5px #ffffff;
}

 