
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_r1_txt01 {
    letter-spacing: -0.7px;
    line-height: 13.5px;
}

pre {
    letter-spacing: -0.8px;
    line-height: 13.5px;
}

.max_width { width:100%;}