
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#col2{left: 17px;
    letter-spacing: 1px;
    position: absolute;}
#col3{left: 109px;
    letter-spacing: 1.3px;
    position: absolute;}
#col4{left: 158px;
      position: absolute;}
#col5{left: 185px;
    letter-spacing: 1.3px;
    position: absolute;}
#col6{left: 298px;
    letter-spacing: 1.3px;
    position: absolute;}
#col7{position:absolute;left:371px;letter-spacing:1px;}

@media only screen and (device-width: 768px) {
#router_text2{letter-spacing:-.081px;padding-left:1.6px}
}