
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}

.liner {line-height:2px !important;height: 0px !important; margin:0px; padding:1.5px 0 1.5px 0;}
