
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

div[id^=ID_txt]{
	line-height:12px;
}

.orangeCallOut{padding:3px 7px 3px 3px;}

@media only screen and (device-width: 768px) {
#ID_txt01,#ID_txt02{margin-top:-22.5px}
.orangeCallOut{margin-top:-30.5px}

	#ID_txt01,#ID_txt02,#ID_txt03,#ID_txt04{
		top:25px !important;
	} 
}