
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
.whiteCallOut{
border:2px solid #FFFFFF;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#FFFFFF;
}
