
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#flashContent {
    height: 98%;
    width: 98%;
}

#env1 {
    height: 28px;
    left: 50px;
    opacity: 0;
    position: absolute;
    top: 36px;
    width: 43px;
}
#env2 {
    height: 28px;
    left: 245px;
    opacity: 0;
    position: absolute;
    top: 103px;
    width: 43px;
}
#env3 {
    height: 28px;
    left: 311px;
    opacity: 0;
    position: absolute;
    top: 36px;
    width: 43px;
}
#env4 {
    height: 28px;
    left: 375px;
    position: absolute;
    top: 103px;
    width: 43px;
	opacity: 0;
}
#env5 {
    height: 28px;
    left: 180px;
    position: absolute;
    top: 36px;
    width: 43px;
	opacity: 0;
}
#ID_bubble01, #ID_bubble02, #ID_bubble03 {
    display: none;
}
#bul01 {
    display: none;
    left: 11px;
    position: absolute;
    top: 43px;
}
#bul02 {
    display: none;
    left: 142px;
    position: absolute;
    top: 43px;
}

#bul03 {
    display: none;
    left: 272px;
    position: absolute;
    top: 43px;
}

.bubble01 {
    background: none repeat scroll 0 0 #CCE9E7;
    border: 3px solid #67BDBC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #B6B6B6;
    color: #000000;
    padding: 2px;
    position: absolute;
    width: 106px;
}
.bubble01:after {
    border-color: #67BDBC transparent;
    border-style: solid;
    border-width: 22px 0 0 18px;
    bottom: -22px;
    content: "";
    display: block;
    left: 44px;
    position: absolute;
    width: 0;
}

.width { width:50%;}

/*#flashContent {border:1px solid red;}

#flashContent div {border:1px solid red;}*/