
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2{margin-left:4px !important;}
#ID_router_txt2{line-height: 14px;}
#ID_router_txt2 span{background:#facca8;}