
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_1_drag_1_0 div, #dnd_1_drag_6_0 div{
	left: 3px !important;
	letter-spacing: -0.2px;
}