
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
li{
	margin-left:15px !important;
}
#ID_s1_txt02, #ID_s1_txt03, #ID_s2_txt02, #ID_s2_txt03 {line-height:11px;}