
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_osi_txt07,#ID_osi_txt06,#ID_osi_txt05,#ID_osi_txt04,#ID_osi_txt03,#ID_osi_txt02,#ID_osi_txt01 {font-size:10px !important;}