
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt09{line-height:8px !important;}
#ID_s1_txt10{line-height:8px !important;}
#ID_s1_txt12, #ID_s1_txt13{color: #0197D6;}