
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01{line-height:14px;letter-spacing:-.4px;}

code{white-space:pre;}

.color{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 0 0 0 -1px;
    padding: 0 0 0 2px;
    width: 99.3%;}
.color1{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 4px 0 0 -1px;
    padding: 0 0 0 2px;
    width: 99.3%;}
	
.spa{padding-left:1px;}
	
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.color,.color1{width: 99.7%;margin:0 0 0 .5px;}
.color1{margin-top:4px !important;}
}