
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s3_bubble01 p,#ID_s3_bubble02 p,#ID_s3_bubble03 p{ margin:1px !important;}
#ID_s3_bubble01,#ID_s3_bubble02,#ID_s3_bubble03{line-height:12px !important;}
p {}