
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_s1_txt01,#ID_s1_txt02,#ID_s2_txt01,#ID_s3_txt01{background-color:#FDE6D4;border:2px solid #F68026;border-radius:5px;padding:5px;}

#ID_s2_txt02,#ID_s2_txt03,#ID_s2_txt04,#ID_s2_txt05{top:-5px ! important;}