
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
.greenBox{
border:2px solid #333333;
padding:2px 0 3px 3px;
background:#E6EBA8;
}
 .blueBox{
border:2px solid #333333;
padding:2px 0 3px 3px;
background:#DBECDA;
}
 .orangeBox{
border:2px solid #333333;
padding:2px 0 3px 3px;
background:#FACCA8;
}
 .lightBlueBox{
border:2px solid #333333;
padding:2px 0 3px 3px;
background:#E9E7E8;
}
