
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01, #ID_s2_txt01{background-color:#98d3d1;border-radius:5px;border:1px solid #98d3d1 !important; box-shadow: 0 0 2px 2px #999999 !important; width:430px !important;}
#ID_s1_txt01 table, #ID_s2_txt01 table {width:100% !important;}
#ID_s1_txt01 tr td, #ID_s2_txt01 tr td{padding:1px 3px; font-size:11px !important; }
#ID_s1_txt01 tr td.liner_top, #ID_s2_txt01 tr td.liner_top{line-height:.3; margin: 0;padding: 0;}
font {font-size:11px !important;}
#ID_tpr {opacity:0.5 !important; filter:alpha(opacity=50) !important; background-color:#FFF !important; height:107px !important}