
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1{padding-left:4px !important;}
#ID_router_txt2{padding-left:4px !important;overflow-y:auto;width:433.25px;height:344px !important;letter-spacing:-.5px;}
#ID_router_txt3{padding-left:4px !important;overflow-y:auto;width:433.25px;height:344px !important;letter-spacing:-.9px;}
#ID_static_79{color:#ffffff !important;font-weight:bold;overflow-y:auto !important;height:277px !important;width:400.25px !important;}
#a1{left: 297px;
    position: absolute;
    top: 157px;}
#a2{left: 297px;
    position: absolute;
    top: 236px;}
	
#a3{left: 297px;
    position: absolute;
    top: 260px;}
	
#a4{left: 297px;
    position: absolute;
    top: 338px;}
	#ID_static_79{letter-spacing:-0.1px;}