
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
/*
#mainDiv { position:absolute; left: 0; top:0px; width:693px; height:400px; font-size:11px;}
#content { width:37%; margin:0 auto;}
body { font-family: Arial, Helvetica, sans-serif; font-size:11px}

 Button class
.btn_default {background:url('../../../common/images/text_button_gradient.png') top center #006699; color:#FFFFFF !important; border-radius:5px; padding:3px 5px; cursor:pointer; width:100px; text-align:center; position:absolute;  border:none;}
.btn_hover{background:url('../../../common/images/text_button_gradient_selected.png') top center #006699; color:#006699 !important; border-radius:5px; padding:3px 5px; cursor:pointer;border:none;}
.btn_active {background:url('../../../common/images/text_button_gradient_selected.png') top center #006699; color:#006699 !important; border-radius:5px; padding:3px 5px; cursor:pointer; width:100px; text-align:center; position:absolute;border:none;}

#ID_btn01 {top:90px; left:490px;}
#ID_btn02 {top:121px; left:490px;}
#ID_btn03 { bottom:30px; left:460px;}
#ID_btn04{ bottom:30px; left:580px;}
#ID_btn03.btn_active{cursor:default;}
#ID_txt02 {background:#4e4c4d; padding:5px; border-radius:5px 5px 0 0; color:#FFFFFF; width:120px; position:absolute; top:0px; left:290px; text-align:center; z-index:-0;}
#counter_count {background:#e9e7e8; padding:5px; color:#000000; height:30px !important;  width:120px;position:absolute; top:20px; left:290px; text-align:center; font-size:2em; font-weight:bold; color:#020000; border:none;  border-radius:0px 0px 5px 5px;}
#ID_title {width:220px; height:123px; position:absolute; top:0px;z-index: -1; left:10px;}

/*media layout
#router { background:url(../../../common/images/html/Router.png) no-repeat top left; background-size:contain; height: 35px;padding: 5px; position: absolute; left: 506px; top: 187px; width: 59px; z-index: 4;} 
.cloud {background:url(../../../common/images/html/Cloud.png) no-repeat top left; background-size:contain; height: 55px; left: 567px; padding: 4px;  position: absolute; top: 177px; width: 95px; z-index: 0;} 
.line {background:#000000; height:2px; border:none; width:356.95px; position:absolute; top:212px; left:175px;z-index:-1;}
.mail_slide {background:url(../../../common/images/html/envelope_closed_action.png)  no-repeat center left; background-size:contain; font-weight: bold;left: 50px;padding: 36px;position: absolute; text-align: center; top: 175px;width: 110px; display:none; z-index:2;}
.mail_slide span {display: block; left: 84px; position: absolute;top: 24px;padding:5px; width: 100px;}
.ball_bg {background:url('block_ball.png') no-repeat top left;background-size:contain;font-size: 20px; font-weight: bold; height: 60px;left: 350px; line-height: 47px;position: absolute;text-align: center;top: 330px; vertical-align: middle; width: 60px;padding:6px 0 0 0;   z-index: 1;	display:none;}
.decrease {color:#c63236;}
.increase {color:#00CC33;}
.ball_block {background:url(block_ball.png)  no-repeat top center; background-size:contain;height: 95px; left: 492px;  position: absolute;    top: 165px;    width: 90px;    z-index: 5;	display:none;}
.explosion {background:url(explosion.png)  no-repeat top left; background-size:contain;height: 91.4px; position: absolute;  left: 470px; top: 163px; width: 90px; z-index:-1; display:none;}
#ID_txt03 {position:absolute; top:237px; left:533px;  z-index:1;}
#ID_txt04 {position:absolute; top:202px; left: 600px; z-index:1;}
*/
/*Msg content 
#ID_MsgBadTitle, #ID_MsgGoodTitle {left: 8px; position: absolute; top: 167px;z-index: -1;}
#ID_MsgBadBody, #ID_MsgGoodBody {background:url("msg_popup_01.png") top center no-repeat; height: 69px;left: 0px;padding: 30px 10px 10px; position: absolute; top: 160px; width: 138px;z-index: -1;}
#close_btn {background:url("btn_close.png") no-repeat left top;height: 16px; left: 133px; position: absolute; top: 165px; width: 16px;  z-index: 1;}
input[disabled="disabled"] {color:#006699 !important;opacity:100%;}*/