
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

.moveLeft10{
	position:absolute;
	margin-left:-8px;
	/*margin-top:4px;*/
}