
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#dnd_1_drag_1_0{letter-spacing:-.2px !important;}

div[id^="dnd_1_drag_1_"]{letter-spacing:-.2px !important;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 #dnd_1_drag_1_0{letter-spacing:-.5px !important;}
 div[id^="dnd_1_drag_1_"]{letter-spacing:-.5px !important;}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  #dnd_1_drag_1_0{letter-spacing:-.5px !important;}
  div[id^="dnd_1_drag_1_"]{letter-spacing:-.5px !important;}
}