
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	min-height: 390px;
	min-width:470px;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden !important;
}

#mainDiv
{
width:413px;
height:400px;
position:absolute;
top:0px;
left:0px;
}

#container
{
width:410px;
height:auto;
position:absolute;
top:52px;
left:0px;
}

#imagecontainer
{
width:387px;
height:280px;
position:absolute;
top:0px;
left:10px;
/*background:url(5_1_1_5.png) top center no-repeat;*/

}

#enduser
{
width:92px;
height:92px;
position:absolute;
top:176px;
left:-36px;
z-index:2;
}

#internettext
{
width:65px;
height:17px;
position:absolute;
top:80px;
left:163px;
font-size:11px;	
}
#ispttext
{
width:65px;
height:17px;
position:absolute;
top:170px;
left:113px;
font-size:11px;		
}

#isp2text
{
width:65px;
height:17px;
position:absolute;
top:220px;
left:353px;
font-size:11px;		
}

#ftptext
{
width:65px;
height:17px;
position:absolute;
top:275px;
left:310px;
font-size:11px
}

#servertext
{
width:65px;
height:17px;
position:absolute;
top:275px;
left:193px;
font-size:11px
}
#book,#book1
{
height: 15px;
left: 5.8px;
position: absolute;
top: 231px;
width: 13px;
z-index: 3;
}

#shadow,#shadow1
{
	width:100px;
	height:46px;
	position:absolute;
	top:215px;
	left:1px;
	z-index:1;	
}

#text1,#text7
{
	width:120px;
	height:90px;
	background: none repeat scroll 0 0 #fde6d4;
	border-radius:5px 5px 5px 5px;
	border:2px solid #f68026;
	font-size:11px;
	line-height:12px;
	padding:10px 5px 5px 5px;		
	text-align:center;
	position:absolute;
	left:-25px;
	top:50px;
	z-index:5
}

#text2,#text8
{
	background: none repeat scroll 0 0 #FDE6D4;
	border: 2px solid #F68026;
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	height: 49px;
	left: 276px;
	line-height: 12px;
	padding: 5px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 111px;
	z-index: 5;
}


#text3,#text5
{
	width:120px;
	height:29px;
	background: none repeat scroll 0 0 #fde6d4;
	border-radius:5px 5px 5px 5px;
	border:2px solid #f68026;
	font-size:11px;
	line-height:12px;
	padding:10px 5px 5px 5px;		
	text-align:center;
	position:absolute;
	left:-25px;
	top:114px;
	z-index:5
}

#text4,#text6
{
	width:87px;
	height:50px;
	background: none repeat scroll 0 0 #fde6d4;
	border-radius:5px 5px 5px 5px;
	border:2px solid #f68026;
	font-size:11px;
	line-height:12px;
	padding:5px 5px 5px 5px;		
	text-align:center;
	position:absolute;
	left:276px;
	top:100px;
	z-index:5
}
#text7
{
background: none repeat scroll 0 0 #FDE6D4;
border: 2px solid #F68026;
border-radius: 5px 5px 5px 5px;
font-size: 11px;
height: 36px;
left: -25px;
line-height: 12px;
padding: 5px;
position: absolute;
text-align: center;
top: 49px;
width: 121px;
z-index: 5;
}

#envelop1,#envelop2,#envelop3,#envelop5,#envelop6,#envelop7,#envelop8,#envelop9,#envelop10,#envelop12,#envelop13,#envelop14,#envelop15,#envelop16,#envelop17
{
width:23px;
height:15px;
position:absolute;
top:231px;	
left:0px;
z-index:4;
}
#envelop4,#envelop11
{
width:23px;
height:15px;
position:absolute;
top:242px;	
left:304px;
z-index:4;
}