
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01{padding:0 0 0 4px !important;letter-spacing:-.3px !important;}
.orange{width:99.5%;display:inline-block;padding:0 0 0 3px;margin:0 0 0 -3px;}