
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01 {font-family: "Courier New" !important;letter-spacing: -0.5px;line-height: 22px;}
#ID_s2_txt01 {font-family: "Courier New" !important;letter-spacing: -0.9px;line-height: 17px;}

.color {background-color:#FACCA8;}
