
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.space{padding-left:10px;}
.space1{padding-left:59px;margin-top:-15px;}
#staticTxt{line-height:15px;left:-2px ! important}

@media only screen and (device-width: 768px) {
  #staticTxt{line-height:15px;}
}

<pre>{
	font-size:10px;
  line-height: 1.4; 
}