
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
}

font[face="_typewriter"]{ font-family:courier new !important;} 
input[type=radio] {
    display:none;
    margin:10px;
}
 

input[type=radio] + label {
	background-image: url('radio_normal.png');
	background-repeat: no-repeat;
	padding: 12px;
	cursor:pointer;
}

input[type=radio]:checked + label {
   background-image: url('radio_selected.png');
   background-repeat: no-repeat;
}

#ID_router_txt4{line-height:13px;}


#ID_s1_inst,#ID_s2_inst,#ID_s3_inst,#ID_s4_inst,#ID_s5_inst{width:535px !important;}
#ID_router_txt1,#ID_router_txt3{letter-spacing:-0.2px;line-height:16.5px;}
#ID_router_txt1 span,#ID_router_txt2 span,#ID_router_txt3 span,#ID_router_txt5 span{color:#f26d11 !important;}
#ID_router_txt2{line-height:15.7px;}
#ID_router_txt3{line-height:13px;letter-spacing:-0.2px;}
#ID_router_txt5{line-height:13px;}