
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	min-height: 390px;
	min-width:470px;
}
#flashContent {
	width:100%;
	height:100%;
}

#ID_r1_txt01 {font-size:11px !important;font-family:"Courier New";letter-spacing: -1.6px;}

#ID_r1_txt02 {font-size:11px !important;font-family:"Courier New";letter-spacing: -1.7px;}