
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1, #ID_router_txt2{
	letter-spacing:-0.5px;
}
.green{
	color:#60BD22;
	font-weight:bold;
	background:none;
}
.orange{
	color:#F78D3D;
	font-weight:bold;
	background:none;	
}
.purple{
	color:#662D8B;
	font-weight:bold;
	background:none;
	margin-left:-1px !important;
}
#ID_router_txt1 .orange{
padding-left:3px;
}
#ID_router_txt2 .purple{
	margin-left:-5px;
}
#ID_s1_txt02,#ID_s2_txt03{
	word-wrap:break-word;
	letter-spacing: -0.2px;
}