
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#router_text3{letter-spacing:-.5px;margin-left:3px;}
.col3{display:inline}
.col2{display:inline;padding-left:1px}
#router_text1{line-height:14px;margin-left:3px;}
#router_text2{margin-left:3px;}
