
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
font[size="14"]{
	font-size: 12px;
}
.font14px{font-size:14px;}
#ID_txt01{height:100px;line-height: 12px;padding: 7px 0 2px 8px;}
#ID_txt03{height:113px;line-height: 12px;padding: 7px 0 2px 8px;}