
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01 { border-radius:5px; color:#393536 !important; background-color:#cce9e7; line-height: 12px; padding:5px;border:2px solid #33a7a4;box-shadow:0px 3px 4px #000;}

