
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01{	background:#cce9e7;	border:2px solid #33A7A4;padding-left:7px;	border-radius:5px;	box-shadow:0px 5px 5px #787878;}

 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 #ID_txt01 li{margin-left:.3em;}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 #ID_txt01 li{margin-left:.3em;}