
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt09,#ID_s1_txt10,#ID_s1_txt11,#ID_s1_txt12,#ID_s1_txt13{pointer-events:none;}
#ID_s1_txt05{letter-spacing:0.7px;}
#ID_s1_txt13{line-height:11px !important;}