
@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden; 
}
 
#mainDiv
{
width:460px;
height:400px;
position:absolute;

}

#main_wrapper{width:100%;height:100%;position:absolute;} 
 
#img5,#img4,#img3,#img2,#img1{ 
    border-radius: 10px;
} 
#img5,#img4,#img3,#img2{ 
    clip: rect(0px, 230px, 400px, 230px);  
} 

#dvSliderContainer{
    display: none;
}
