
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_static_6,#ID_static_5,#ID_static_4,#ID_static_3
{
	padding-right: 4px;
}