
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_bubble03 p,#ID_bubble02 p,#ID_bubble04 p{margin:1px !important;}
#ID_bubble02,#ID_bubble04{line-height:12px !important;}