
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	position:absolute;
	left:20px;
	top:30px;
	width:470px;
	border:2px solid black;
	height:400px;
	
}
