
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

div[id^=ID_txt]{
	line-height: 12px !important;
	letter-spacing: -0.2px !important;
}
 
@media all and (device-width : 768px)and (max-device-width : 1024px) { 
	#ID_txt03,#ID_txt04{
		width: 65px !important;
		top:-10px !important;
		left: 2px !important;
	} 
} 
