
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.fullWidth{
    width: 100% !important; 
}

pre{
    line-height: 12px;
    letter-spacing: -0.2px;
    word-spacing:  -2.2px;
}

/* iPads (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	.color1{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 2px 0 0 -5px;
    padding: 0 0 0 7px;
    width: 97.5%;}

}*/