
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}


#ID_bubble02
{
height:50px !important;	
}
#ID_bubble02 p {
    margin: 2px 0 0 0;
    line-height: 12px;
}