
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt10{letter-spacing:-0.4px;}
#ID_s1_txt09, #ID_s1_txt03, #ID_s1_txt04{letter-spacing:-0.5px;}