
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_Body_txt01{padding-top:4px}
#ID_txt01{letter-spacing:-0.53px ! important; width:453px ! important}
span{
	width: 98.9%;
	background-color:#FACCA8;
	display: inline-block;
}

@media only screen and (device-width: 768px) {
#ID_Body_txt01 li{margin-left:3px}
