
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s2_txt12 {line-height:14px;}
#ID_s3_txt12 {line-height:14px;}

#ID_s2_txt12 {height:30px;}
#ID_s3_txt12 {height:30px;}

#ID_s2_txt04,#ID_s3_txt04 {line-height:8px;}
#ID_s3_txt04 {letter-spacing:-0.1px;}