
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4,#ID_router_txt5{padding-left:4px !important;}
#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4,#ID_router_txt5{letter-spacing:-.5px;}
#ID_s6_SC5_prompt_0{width:305px !important;}

#ID_S4_table1 {height: 91px !important;}
#ID_S4_table1 .mtable {height: 92px !important;}

#ID_S4_table2 .mtable {height: 144px !important;}