
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt02 p,#ID_txt03 p,#ID_txt04 p{ margin:1px !important;}
#ID_txt02,#ID_txt03,#ID_txt04{line-height:11px !important;}
td ul li {
    margin-left: 17px !important;
}

.mtable .mtable_top {
    background-color: #0E6360 !important;
    color: #434321 !important;
    line-height: 2px;
    padding: .5px;
}

#ID_txt05,#ID_txt07
{
background:#CB6D25;
height:18px;
padding: 3px 0 0 0;
}