
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden !important;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_static_20,#ID_static_21{font-family:Courier New !important;}
#ID_static_22,#ID_static_23,#ID_static_24,#ID_static_25{font-family:Courier New !important;letter-spacing:-.4px !important}

@media only screen and (device-width: 768px) {
#ID_static_22,#ID_static_23{font-family:Courier New !important;left:15px !important}
#ID_txt01,#ID_txt02,#ID_txt03{width:400px !important;}
}