
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt09{letter-spacing:-0.65px;}
#ID_s1_txt14,#ID_s1_txt13{letter-spacing:-0.1px;}
#canvasId,#canvasId_{height:395px !important;overflow-y:hidden;}