
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;}
#ID_s6_txt01{line-height:13px;}
.color{background:#facca8;display:inline-block;width:99.5%;}
.color1{background:#fff3b9;display:inline-block;width:99.5%;}
.color2{background:#c1abd1;display:inline-block;width:99.5%;}
#ID_txt01 li{margin-left:1.5em;}