
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#staticText1,#staticText2{
	background-color: #fff;
	line-height: 10px;
}
