
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#canvasId,#canvasId_{height:395px !important;overflow-y:hidden;}
#ID_s1_txt24{width:140px !important;}