
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

.whitebg{background-color:white;
padding-right:4px;
}
#ID_static_1{letter-spacing:0.6px !important}