
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_3{letter-spacing:2.2px;}
#ID_static_1{letter-spacing:1.5px;}
@media only screen and (device-width: 768px) {
#ID_static_1,#ID_static_3{
letter-spacing:1.3px;}
#ID_router_txt1,#ID_router_txt2{letter-spacing:0.46px;}
}