
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	 line-height: 13px;
}
#ID_s3_txt01 > pre{
	 line-height: 12px !important;
}

pre span{
	display: block;
	width: 100%!important;
} 

.lblHighlight{
	display: inline !important;
	padding-bottom: 27px;
	width: 30px!important;
}
div#ID_s1_txt01{
	width:414px !important;
}