
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt03
{
width:115.2px !important;
height:20px;
text-align:left;
background:#000000;	
color:#ffffff !important;
}

#ID_txt03 b
{
display: block;
padding: 2.5px 0 0 4px ;
}
#ID_SC
{
font-size:11px !important;	
}