
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
.port {line-height:12px;}
.port textformat[blockindent="14"]{padding-left:10px;}