
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
 
div[id ^=ID_router_]{
	letter-spacing:-0.3px;
	line-height:10px;
}

.highlighter{
	border:2px solid #F26200;
	padding:2px;   
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px; 
}

.displayHl{
	display:inline;
	padding-bottom: 40px;
}