
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01{line-height:14.5px;padding-left:5px;}
.space{padding-left:17px;}
.space1{padding-left:0px;}
#ID_SC2{font-family:Courier New}
#ID_sc_reset font  {font-size:20px !important;}