
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	#ID_txt01,#ID_txt02{
		width:127px!important; 
	}  
	#ID_txt06{
		top:-20px !important;
	}

}
 
table tr td {
border-top: .21em solid #918F90 ;  
border-bottom: .21em solid #918F90; 
border-collapse: collapse;
}
table {
 border:2px solid #666263;
 border-collapse: collapse;
}

#ID_txt03,#ID_txt04{
	width: 120px !important;
}

#slide_1 >#ID_table_01 > table tr:nth-child(4){ background-color:#FAB37D !important;}
#slide_2 >#ID_table_01 > table tr:nth-child(4){ background-color:#FAB37D !important;}
#slide_3 >#ID_table_01 > table tr:nth-child(5){ background-color:#FAB37D !important;}
#slide_4 >#ID_table_01 > table tr:nth-child(6){ background-color:#FAB37D !important;}
#slide_5 >#ID_table_01 > table tr:nth-child(7){ background-color:#FAB37D !important;}
  