
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_router_txt1{letter-spacing: -.4px;}

#ID_txt04{padding:0 0 0 6px;}

#ID_static_4{z-index:10;}
	
.orange1 {
width: 54%;
margin: 0 0 0 0;
padding: 0 0 0 2px;
}	
.orange2 {
width: 72%;
padding: 0 0 0 4px;
}	
.orange3 {
margin: 0 0 0 -7px;
padding: 0 0 0 6px;
width: 32.5%;
}	
	
.orange4 {
width: 4.2%;
margin: 1px 0 0 -5px;
padding: 0 0 0 4px;
}
	
.orange5 {
margin: 0 0 0 -3px;
padding: 0 0 0 3px;
}
	
	
@media only screen and (device-width: 768px) {
#ID_router_txt1{margin-top:2px;}
.orange5{letter-spacing:.1px;}
}