
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.alignment{padding-left:30px;}
#line1{padding-left:112px;}
.line{padding-left:21px;}
.line2{padding-left:66px;}