
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#router_text1,#router_text2{line-height:18px}
#router_text2{padding-left:0 ! important;}
.font8px{letter-spacing: -0.05px;}
code{letter-spacing: -0.09px;}
.ls{letter-spacing: -0.2px;}

input#ID_SC3_prompt_0,input#ID_SC3_prompt_1,input#ID_SC3_prompt_2,input#ID_SC4_prompt_0,input#ID_SC4_prompt_1,input#ID_SC4_prompt_2,input#ID_SC4_prompt_3,input#ID_SC4_prompt_4{font-family:courier new ! important;letter-spacing:-0.05px}

#ID_SC3 input{
	letter-spacing:-0.2px
}

@media only screen and (device-width: 768px) {
span.rt2{left:1px ! important;}
}


