
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code { letter-spacing:-.11px;}

#router_s5_text1 code {letter-spacing:-.21px ! important;}