
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s4_txt01 {letter-spacing:-0.2px;}

#ID_s4_txt01 span {background-color:#FACCA8;}

#ID_s5_txt01 {letter-spacing: -1.2px;}

.orange {width:100%;}

.bg {background-color:#FACCA8;}

#ID_s5_txt01 { letter-spacing:-1.4px;line-height: 13px;}
