
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt04
{
width:88px;
padding:5px;
border:2px solid #F68026;
background:#FDE6D4;
border-radius:5px;
line-height:12px;
text-align:left;	
}
#ID_txt03
{
width:85px!important;
padding:5px;
border:2px solid #F68026;
background:#FDE6D4;
border-radius:5px;
line-height:12px;
text-align:left;	
}
#ID_txt02
{
width:70px;
padding:5px;
border:2px solid #F68026;
background:#FDE6D4;
border-radius:5px;
line-height:12px;
text-align:left;	
}