@import url(../../../common/styles/media2.css);

html,body {
	height:98%;
	margin:0;
}

#flashContent {
	width:98%;
	height:98%;
}
#ID_static_2,#ID_static_9,#ID_static_17,#ID_static_22,#ID_static_27,#ID_static_32,#ID_static_37{letter-spacing:1.5px;}