
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_table{background-color:#98d3d1;border-radius:5px;border:1px solid #98d3d1 !important; box-shadow: 0 0 2px 2px #999999 !important;}
#ID_table tr td{width:105px;padding:1px 3px;}
#ID_table tr td.liner_top{line-height:.2; margin: 0;padding: 0;}