
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01,#ID_s2_txt01,#ID_s3_txt01 {background-color:#DAE17A; border-radius:4px; padding-top:4px; padding-bottom:4px;}

#ID_s1_txt02,#ID_s2_txt02,#ID_s3_txt02 {background-color:#B5D9B3; border-radius:4px; padding-top:4px; padding-bottom:4px;}

#ID_s1_txt03,#ID_s2_txt03,#ID_s3_txt03 {background-color:#F79951; border-radius:4px; padding-top:4px; padding-bottom:4px;}
