
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s3_SC5 b,#ID_s3_SC5 font {/* font-size:11px;*/}

#ID_router_txt2 {
    line-height: 12.5px;
	letter-spacing:-0.2px;
}

.command { font-family:"Courier New";}