
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:100%;

}
#flashContent {
    width:98%;
    height:98%;
}
#ID_s2_inst
{
	line-height:10px;
}
font[size="10"]{
	font-size: 10px;
}
#dnd_0_drag_2_0 div{
	line-height: 10px;

}
#dnd_0_drag_0_0 div, #dnd_0_drag_1_0 div, #dnd_0_drag_7_0 div,#dnd_0_drag_8_0 div,#dnd_0_drag_9_0 div,#dnd_0_drag_11_0 div,
#dnd_0_drag_13_0 div{
	line-height: 10.7px;
}
#dnd_0_drag_0_0 div, #dnd_0_drag_1_0 div, #dnd_0_drag_2_0 div{
	padding-left : 2px !important;
}

#ID_s1_drag01{width:154px !important;}
#ID_s2_inst{line-height:9.5px;}