
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt01 {
letter-spacing:-0.6px !important;
line-height:12.8px !important;
padding-left:5px !important;
padding-top:3px !important;
}