
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

.orange{
display:inline-block;
width : 99%;
}

.command { font-family:"Courier New";}
pre{
	/*letter-spacing:-0.5px;*/
}

#ID_SC pre{
	letter-spacing:-0.3px !important;
}
#staticTxt{padding-left:4px !important;}
#staticTxt{letter-spacing:-0.7px !important;}
#staticTxt2{padding-left:4px !important;}