
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt03 {line-height:12px;}
.red{display:inline-block;background-color:#FACCA8;padding:1px;width:385px;}
#ID_s2_txt01 {font-family:arial; }