
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}
 

#mainDiv
{
width:460px;
height:400px;
position:absolute;

}

#main_wrapper{width:450px;height:360px;position:absolute;}
#main_container{width:440px !important;height:340px !important;}
#main_img {left: 0; position: absolute; top: 276px;}
#box_1 {left: -8px;
    position: absolute;
    top: 2px;}
#box_2 {left: -8px;
    position: absolute;
    top: 64px;}
#box_3 {left: -8px;
    position: absolute;
    top: 128px;}
#box_4 {left: -8px;
    position: absolute;
    top: 192px;
    z-index: 1;}
#imgGlower{
	height: 77px;
	left: 0px;
	position: absolute;
	top: 223.35px;
	width: 148px;
	clip:rect(77px, 148px, 77px, 0px); 
}	
	
	
	
	
#glower {left: -2px;
    position: absolute;
    top: 227px;
    width: 156px;}
#bloker {background-color: #FF00FF;
    height: 62px;
    left: -2px;
    position: absolute;
    top: 226px;
    width: 156px;}
#bloker_arrow {background-color: #FFFFFF;
    height: 58px;
    left: 150px;
    position: absolute;
    top: 41px;
    width: 156px;}
#brick_top {left: 170px;
    position: absolute;
    top: 8px;
    width: 98px;}
#bricks_bottom {left: 170px;
    position: absolute;
    top: 72px;
    width: 98px;}
#arrow_top {left: 212px;
    position: absolute;
    top: -66px;
    width: 13px; opacity:0;
}
	
#arrow_bottom {left: 212px;
    position: absolute;
    top: 60px;
    width: 13px;
    z-index: -1;}
	
#h1 {color: white;
    font-size: 12px;
    font-weight: bold;
    left: 8px;
    position: absolute;
    text-align: center;
    top: 293px;
    width: 24px;}
#inter {font-size: 12px;
    left: 184px;
    position: absolute;
    text-align: center;
    top: 302px;
    width: 94px;}
#server { font-size: 12px;
    left: 416px;
    position: absolute;
    text-align: center;
    top: 326px;
    width: 39px;}
#application {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 144px;}
#trans {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 77px;
    width: 144px;}
#internet {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 144px;}
#netacct {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 205px;
    width: 144px;
    z-index: 1;}
#strm {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 144px;}
#ID_txt10 {font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 108px;
    width: 144px;}
/*#ID_txt11 { background-color: #FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    left: 268px;
    padding: 4px;
    position: absolute;
    top: 83px;
    width: 173px;}*/
#ID_txt09 { background-color: #FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    left: 268px;
    padding: 4px;
    position: absolute;
    top: 30px;
    width: 173px;}
#ID_txt12 {background-color: #FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    left: 183px;
    padding: 4px;
    position: absolute;
    top: 140px; width: 167px;}
	
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#arrow_top {left: 212px;
    position: absolute;
    top: -86px;
    width: 13px; opacity:0;}
	
#box_4 {left: -8px;
    position: absolute;
    top: 193px;
    z-index: 1;}
	
#application {
    font-size: 12px;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 13px;
    width:
}
#h1 {color: white;
    font-size: 12px;
    font-weight: bold;
    left: 8px;
    position: absolute;
    text-align: center;
    top: 290x;
    width: 24px;}
}