
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_table{background-color:#98d3d1;border-radius:5px;border:1px solid #98d3d1 !important; line-height:12px;box-shadow:#393536 0px 0px 4px;}
#ID_table table {width:100% !important;}
#ID_table tr td.col2{line-height:12px;}
#ID_table tr td.liner_top{line-height:.2; margin: 0;padding: 0;}


@media only screen and (device-width: 768px) {
#ID_table{
font-size:10px!important;
width:480px!important;
line-height:17px!important;
}
}