
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:98%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt04{
    border:2px solid #F68026;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 2px 0px 2px;
    background:#FDE6D4;
	vertical-align:middle;
}
	
p{margin:0 auto;padding:0;}