
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}}


#ID_s1_txt01 div { letter-spacing:-0.4px; line-height:11px !important;}
#ID_s1_txt02 { line-height:13px;}
#ID_s2_txt01 {}
#ID_s3_txt01 {letter-spacing: -0.4px;
    line-height: 14px;}

/*#staticTxt1{
	font-size:11px;
	font-weight:bold;
}
#mainDiv {
    height: 380px;
    width: 416px;
    position:absolute;
    top:0px;
}
#deresp2,#deresp3,#deresp4,#deresp6 {font:normal 10.5px/15px Courier New !important;}
span.space_10{padding-left:10px; height:auto !important;  float:none !important;}
span.space_15{padding-left:30px; height:auto !important;  float:none !important;}
.staticTxt{font-weight:bold;color:#393536;}
#r2{font-weight:bold;}
#r1{font-weight:bold;}
#ID_txt{ font-family:"Courier New" !important;}
#ID_txt1{ font-family:"Courier New" !important; }
#ID_txt2{ font-family:"Courier New" !important; }
#ID_txt3{ font-family:"Courier New" !important;}
#ID_txt4{ font-family:"Courier New" !important; }
#pc1{font-weight:bold;font-size:10px !important;}
#pc2{font-weight:bold;font-size:10px !important;}
#fb font{font-family:arial !important;}

input[type="text"]#ans_14{width:275px !important;}
input[type="text"]#val_16{width:20px !important;}


@media only screen and (device-width: 768px) {
#pc1{margin-left:1px;margin-top:-1.5px;}
#pc2{margin-top:-2px;margin-left:1px;}
#r2{margin-left:0px;margin-top:-2px;}
#r1{margin-top:-2px;margin-left:1px;}
}*/