
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2{
	letter-spacing:-0.8px !important; line-height:12px !important; margin-left:4px !important;
	}
.color{
	color:#F26200 !important;
	bold
	}