
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt05
{
	line-height:12px;
}
#ID_txt01{
    border:2px solid #BDBBBC;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding: 4px 0 5px 7px;
    background:#ffffff;
	line-height:12px;
}
.seagreenbox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#CCE9E7;
}
.orangebox{
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:4px;
	background:#FDE6D4;
}