
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

.space{letter-spacing:-0.4px}
@media only screen and (device-width: 768px) {
 .space{letter-spacing:0.1px} 
 #ID_s2_txt01{margin-top:-13px}
}
