
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt07{line-height:12px;}
#ID_bubble02,#ID_bubble03,#ID_bubble01 p{ margin:1px;}
#ID_txt02,#ID_txt01{line-height:11px; letter-spacing:-0.2px !important;}