
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s2_txt19 {line-height:13px;}
#bgTrapS1 {background-color:#ffffff; height:85px !important; opacity:0.7  !important;; filter:alpha(opacity=70)  !important;}
#bgTrapS2 {background-color:#ffffff; height:134px !important; opacity:0.7  !important;; filter:alpha(opacity=70)  !important;}
#bgTrapS3 {background-color:#ffffff; height:43px !important; opacity:0.7  !important;; filter:alpha(opacity=70)  !important;}

#ID_s2_txt21 {/*letter-spacing:-1px;*/}

#ID_s1_txt04,#ID_s1_txt05,#ID_s1_txt06,#ID_s2_txt04,#ID_s2_txt05,#ID_s2_txt06,#ID_s3_txt04,#ID_s3_txt05,#ID_s3_txt06 { background-color:#E0D5E6; border:2px solid #8557A0; padding:3px; border-radius:4px;}

#ID_s1_txt07,#ID_s1_txt08,#ID_s1_txt09,#ID_s2_txt07,#ID_s2_txt08,#ID_s2_txt09,#ID_s3_txt07,#ID_s3_txt08,#ID_s3_txt09 { background-color:#FACCA8; border:2px solid #F68026; padding:3px; border-radius:4px;}

#ID_s1_txt01,#ID_s1_txt02,#ID_s1_txt03,#ID_s2_txt01,#ID_s2_txt02,#ID_s2_txt03,#ID_s3_txt01,#ID_s3_txt02,#ID_s3_txt03 { background-color:#DBECDA; border:2px solid #3F863A; padding:3px; border-radius:4px;}


#ID_s2_txt18,#ID_s2_txt20,#ID_s2_txt19,#ID_s2_txt21 {background-color:#FACCA8; border:2px solid #F68026; padding:3px; border-radius:4px;}

#ID_s2_txt14 {background-color:#CCE9E7; border:2px solid #00918E; padding:3px; border-radius:4px;}
#ID_s2_txt16 {background-color:#E6EBA8; border:2px solid #808521; padding:3px; border-radius:4px;}
#ID_s2_txt17 {background-color:#E0D5E6; border:2px solid #8557A0; padding:3px; border-radius:4px;}



@media all and (device-width: 768px) and (device-height: 1024px) {
  
  #ID_s1_txt04,#ID_s1_txt05,#ID_s1_txt06,#ID_s2_txt04,#ID_s2_txt05,#ID_s2_txt06,#ID_s3_txt04,#ID_s3_txt05,#ID_s3_txt06 { background-color:#E0D5E6; border:2px solid #8557A0; padding:3px; border-radius:4px; top:-1px !important;}
  
  #ID_s1_txt07,#ID_s1_txt08,#ID_s1_txt09,#ID_s2_txt07,#ID_s2_txt08,#ID_s2_txt09,#ID_s3_txt07,#ID_s3_txt08,#ID_s3_txt09 { background-color:#FACCA8; border:2px solid #F68026; padding:3px; border-radius:4px; top:-1px !important;}
  
  #ID_s1_txt01,#ID_s1_txt02,#ID_s1_txt03,#ID_s2_txt01,#ID_s2_txt02,#ID_s2_txt03,#ID_s3_txt01,#ID_s3_txt02,#ID_s3_txt03 { background-color:#DBECDA; border:2px solid #3F863A; padding:3px; border-radius:4px; top:-1px !important;}
  
   #ID_s1_txt01,#ID_s1_txt02,#ID_s1_txt03,#ID_s3_txt01,#ID_s3_txt02,#ID_s3_txt03 {left:-1px !important;}
   
   #bgTrapS1,#bgTrapS2,#bgTrapS3 {left:2px !important;}
  
/*#ID_s2_txt14 {background-color:#CCE9E7; border:2px solid #00918E; padding:3px; border-radius:4px; top:-5px !important;}
#ID_s2_txt16 {background-color:#E6EBA8; border:2px solid #808521; padding:3px; border-radius:4px; top:-5px !important;}
#ID_s2_txt17 {background-color:#E0D5E6; border:2px solid #8557A0; padding:3px; border-radius:4px; top:-5px !important;}*/
 
}