
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2,#ID_router_txt3,#ID_router_txt4
{
padding:0 0 0 3px !important;
letter-spacing:-1.7px;	
}
.orange{width:100%;margin: 0 0 0 -1px;padding:0 0 0 1px;}
.orange2{display: inline-block;
    width: 97.5%;
    margin: 0 0 0 -6px;
    padding: 0 0 0 6px;}
	
.orange4{padding: 0 0 0 5px;
    width: 98%;}
	
	.orange5{ padding: 0px 0 0 7px;
    width: 97%;
    margin: 0 0 0 -7px;}