
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

pre{
	line-height: 13px;
	letter-spacing: -0.2px;
	margin: 0px 2px;
	position: relative;
	top: 2px;
}
pre b { color: #000;}

pre span{
	background: #FACCA8;
	display: inline-block;
	width: 100%;
}

#divTrans1{
	position: absolute;
	top: 16px;
	left: 0px;
	width: 410px;
	height: 128px;  
	background-color:#ffffff; 
	opacity:0.8;
	filter:alpha(opacity=80);


}

#divTrans2{
	position: absolute;
	top: 197px;
	left: 0px;
	width: 410px;
	height: 116px;
	background-color:#ffffff; 
	opacity:0.8;
	filter:alpha(opacity=80);
}

#imgArrows{
   height: 154.55px;
    left: 5px;
    position: absolute;
    top: 56.1px;
    width: 230.35px;
}

#ID_s3_txt01,#bgGreen{ background:#B5D9B3!important; display: inline!important;}
#ID_s3_txt02,#bgYellow{ background:#FEED95!important; display: inline!important;}
#ID_s3_txt03,#bgOrange{ background: #FAB37D!important; display: inline!important;}
#ID_s3_txt04,#bgBlue{ background:#98D3D1 !important; display: inline!important;}
#ID_s3_txt05,#bgPurple{ background:#C1ABD1!important; display: inline!important;}


#ID_s3_txt01,#ID_s3_txt02,#ID_s3_txt03,#ID_s3_txt04,#ID_s3_txt05{
	z-index: 10; 
	border: 2px solid #4E4C4D; 
	border-radius: 5px;
	padding: 5px 0 ;
} 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
#imgArrows{
   height: 154.55px;
    left: 5px;
    position: absolute;
    top: 56.1px;
    width: 215.35px;
}
#ID_s3_txt01{ background:#B5D9B3!important; padding-bottom:8px; display: inline!important;}
#ID_s3_txt02{ background:#FEED95!important; padding-bottom:8px; display: inline!important;}

#ID_s3_txt04{ background:#98D3D1 !important; padding-bottom:8px; display: inline!important;}
#ID_s3_txt03{ background: #FAB37D!important;padding-bottom:8px; display: inline!important;}

#ID_s3_txt05{ background:#C1ABD1!important; padding-bottom:8px;display: inline!important;}
}