@charset "utf-8";
/* TEMPORARY RULES FOR TESTING - THESE RULES ARE TO BE REMOVED OR COMMENTED OUT WHEN THE SPECIFIC PROBLEM IS SOLVED */

/*PERMANENT RULES*/


body{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	min-height: 390px;
	min-width:470px;
	height:97% !important;
	width:97%;
	color:#393536;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	text-align:left;
	border:none;
	padding-left:10px;
	/*font: 300 normal 12px/14px "FB Armada", sans-serif;*/
	line-height: 1.3;
	}
/* Start "Code & Pre tag" css */
/* to align xml text content in Router output & Syntax Checker */
code{
	white-space:pre;
}
pre{
	margin:0;
	padding:0;
}
/*End Code & Pre tag" css*/
/*-------------------------------Start Common Table Css for ITE--------------------------------*/
.mtable-ite {overflow: auto; -moz-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-o-border-radius:4px;
		 border-radius:4px;}
.mtable-ite table{ border-collapse: collapse; width:100%;}
.mtable-ite .title font{ font-size:14px; color:#3a3637;}
.mtable-ite .mtitle { font-size:12px; color:#FFF;}
.mtable-ite .msubtitle { font-size:11px;}
.mtable-ite tr td { border:3px solid #dae17a; padding:0px 3px;margin:0px;}
.mtable-ite .mtable_top, .mtable-ite .liner_top, .mtable-ite .liner {line-height:2px; padding:0px; background-color:#000 !important; color:#434321 !important;}
.mtable_top {line-height:2px; padding:0px; background-color:#0E6360 !important; color:#434321 !important;}
.mtable-ite .mtable_title {background-color:#a2aa23 !important; color:#FFF;}
.mtable-ite tr:nth-child(2n+1) { background-color:#f3f5e7;}


.mtable-ite tr:nth-child(2n) { background-color:#ffffff;}
.mtable-ite font[size="14"] { font-size:14px;}
.mtable-ite font[size="12"] { font-size:12px;}
.mtable-ite font[size="11"] { font-size:11px;}
.mtable-ite font[size="10"] { font-size:10px;}
.mtable-ite font[size="+2"] { font-size:14px;}
.mtable-ite font[size="+1"] { font-size:11px;}
/*-------------------------------- End Common Table Css for ITE ----------------------------------*/

/*-------------------------------Start Common Table Css for all--------------------------------*/
.mtable {overflow: auto; -moz-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 box-shadow:0.1px 0.1px 2px 2px #a0a0a0;
		 -webkit-border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-o-border-radius:4px;
		 border-radius:4px;
		 border-collapse: collapse;}
.mtable table{ border-collapse: collapse; width:100%;}
.mtable .title font{ font-size:14px; color:#3a3637;}
.mtable .mtitle { font-size:12px; color:#FFF;}
.mtable .msubtitle { font-size:11px;}
.mtable tr td { border:3px solid #98D3D1; padding:0px 3px;margin:0px; vertical-align:top !important;}
.mtable .mtable_top {line-height:2px; padding:0px; background-color:#0E6360 !important; color:#434321 !important;}
.mtable .mtable_title {background-color:#0E6360 !important; color:#FFF;}
.mtable tr:nth-child(2n+1) { background-color:#EFF8F7;}
.mtable tr:nth-child(2n) { background-color:#ffffff;}
.mtable font[size="14"] { font-size:14px;}
.mtable font[size="12"] { font-size:12px;}
.mtable font[size="11"] { font-size:11px;}
.mtable font[size="10"] { font-size:10px;}
/*-------------------------------- End Common Table Css for all ----------------------------------*/

/* Router outputs bullets and highlights style  */
/* for best use "span tag"*/
/*******************************************************/
.orange { background-color:#FACCA8; display:inline-block; width:auto;}
.purple{background-color:#C1ABD1; display:inline-block; width:auto;}
.yellow{background-color:#FFF3B9; display:inline-block; width:auto;}
.lgreen {background-color:#E6EBA8; display:inline-block; width:auto;}
.green {background-color:#B5D9B3; display:inline-block; width:auto;}
.pink {background-color:#E8A0AC; display:inline-block; width:auto;}
.lpink {background-color:#F4A4A7; display:inline-block; width:auto;}

.orange_block{background-color:#FACCA8; display:block;}

number {background: url("../images/numbers.png") no-repeat scroll 0px 0px transparent; padding:10px 15px; position:relative; left:-12px;}
number[value="1"] {background-position:0px 2px;}
number[value="2"] {background-position:0px -31px;}
number[value="3"] {background-position:0px -67px;}
number[value="4"] {background-position:0px -107px;}
number[value="5"] {background-position:0px -149px;}
number[value="6"] {background-position:0px -178px;}
number[value="7"] {background-position:0px -212px;}
number[value="8"] {background-position:0px -241px;}
number[value="9"] {background-position:0px -278px;}


.orangeCallOut{
border:2px solid #F68026;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#FDE6D4;
}

.animTooltip{
border:1px solid #000000;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:7px 5px;
background:#FFFFFF;

}

.seagreenCallOut{
border:2px solid #00918E;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:3px 0 3px 3px;
background:#CCE9E7;
}

.seagreen2CallOut{
	border:2px solid #00918E;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:3px 0 3px 3px;
	background:#CCE9E7;
	margin-left:-6px;
	margin-top:-4px;
}

.grayCallOut{
border:2px solid #918F90;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#F3F3F3;
}
.greenCallOut{
border:2px solid #3F863A;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#DBECDA;
}
.purpleCallOut{
border:2px solid #652C8A;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#E0D5E6;
}

/* Start <ul><li> css */
/* Custom bullet styling with dot image */
ul{
	margin:0;
	padding:0;
}
li{
	list-style-image:url(../images/bullet_dot.png) !important;
	margin-left:20px;
}
td ul li{
	margin-left:0 !important;
}
.bubbleBullets li{
	margin-left:29px !important;
}

.lazyTextBullets li{
	margin-left:29px !important;
}
.bulletIndent20 li{
	margin-left:20px !important;
}
.bulletIndent15 li{
	margin-left:15px !important;
} 
/* End <ul><li> css */

/* Start css for Lab-Packet Title */
.lab-pt-title{
	/*font-weight:bold;*/
	font-size: 16px !important;
	font-family:Arial, Helvetica, sans-serif !important;
}
/* End Lab-Packet Title css */


/*Font style for Syntax checker font size Start */
.font8px{
	font-size:8px !important;
}
.font9px{
	font-size:9px !important;
}
.font10px{
	font-size:10px !important;
}
.syntaxBottomLine{
	padding-bottom:6px !important;
}
.syntaxChecker{ padding-top:2px !important;
-webkit-user-select: text;  /* Chrome all / Safari all */
  -moz-user-select: text;     /* Firefox all */
  -ms-user-select: text;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: text;
  user-select: text;  
  spellcheck: disabled; 

}
.syntaxChecker ul li, .syntaxChecker li{margin-left:30px;}
.syntaxChecker font[size="6"], .syntaxChecker font[size="6"] b {font-size:6px;}
.syntaxChecker font[size="7"], .syntaxChecker font[size="7"] b {font-size:7px;}
.syntaxChecker font[size="8"], .syntaxChecker font[size="8"] b {font-size:8px;}
.syntaxChecker font[size="9"], .syntaxChecker font[size="9"] b {font-size:9px;}
.syntaxChecker font[size="10"], .syntaxChecker font[size="10"] b {font-size:10px;}
.syntaxChecker font[size="11"], .syntaxChecker font[size="11"] b {font-size:11px;}

.syntaxChecker font[face="Arial"] {font-family:"arial";}
.syntaxChecker font[face="Courier New"] {font-family:"Courier New";}

.syntaxChecker input[type="text"]:disabled, .syntaxChecker input[disabled], .syntaxChecker input[readonly], .syntaxChecker .promptText
{
font-family:Courier New;
color:#000 !important;
opacity: 1;
-webkit-text-fill-color: black;
}


/*Font style for Syntax checker font size End */

/* Glow Text */
/***********************/
.glow{ text-shadow:
    0px 0px 3px #FFF,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
   -1px  1px 0 #FFF,
    1px  1px 0 #FFF;}
	
/* Font replace for _typewriter*/

font[face="_typewriter"]{
	font-family:courier new !important;
}
font[face="_sans"]{
	font-family:Arial !important;
}


/*    Animation css starts  */

.sliderHolder{
	margin-top:16px;
	float:left;
	width:280px;
	
}
.sliderHolder p{
	margin:0px;
	font-size:14px;
}
.slider {
	width: 270px;
	margin: 4px 0px 8px 6px;	
}

#parentSlider{
/*position:relative;*/
position:absolute;
top:0;
left:0; 
display:block !important;
}
 
#dvSliderContainer {
background: none repeat scroll 0 0 #CDEAF8;
border-radius: 5px 5px 5px 5px;
bottom: 0px;
box-shadow: 0 2px 2px #888888;
height: 35px;
left: 0;
margin: 0 auto;
position: relative;
width: 462px;
}

#slider {
background: none repeat scroll 0 0 #99D5EF;
border-radius: 17px 17px 17px 17px;
bottom: 8px;
height: 16px;
position: absolute;
right: 16px;
width: 252px;
}

.sbut {
    bottom: 4px;
    float: left;
    left: 13px;
    position: absolute;
    z-index: 1;
	width: 33px;
    height: 27px;
}
.pause {float:left;left:13px;position:absolute;bottom:4px;width: 33px;
    height: 27px;}
.resbut {float:left;left:13px;position:absolute;bottom:4px;width: 33px;
    height: 27px;}
.play {float:left;left:10px;position:absolute;bottom:1px;width: 33px;
    height: 27px}
.start {float:left;position:absolute;left:52px;bottom:1px;width: 28px;}
.rewind {float:left; left:85px;position:absolute;bottom:1px;width: 29px;}
.forward {float:left; left:119px;position:absolute;bottom:1px;width: 28px;}
.end {float:left; left:153px;position:absolute;bottom:1px;width: 28px;}

.sbut > img {
    height: 27px;
    width: 32px;
}

.pause > img {
    height: 27px;width: 32px;
}
.resbut > img {
    height: 27px;width: 32px;
}
.play > img {
    height: 27px;width: 32px;
}
.start > img {
    height: 27px;width: 27px;
}
.rewind > img {
    height: 27px;width: 27px;
}
.forward > img {
    height: 27px;width: 27px;
}
.end > img {
    height: 27px;width: 27px;
}
.strpopup{
	background-color:#FFFFE3;
	position:absolute; 
	padding:7px; 
	border-radius:6px;
	opacity:0.8;
	border:1px solid #000;
	top: 0px;
    left: 0px;
	z-index:999;
	box-shadow:2px 2px 2px #666666;
}
.sbut,.pause,.play,.resbut,.start,.rewind,.forward,.end {cursor:pointer;}

.mbar {width:431px;}
.mbar #dvSliderContainer {width:431px;}
.mbar #dvSliderContainer #slider {width:221px;}

@media all and (device-width: 768px) and (device-height: 1024px) {
.sbut {bottom: 4px;
float: left;
left: 13px;
position: absolute;
z-index: 1; height:27px;}
.pause {float:left;left:13px;position:absolute;bottom:4px;}
.resbut {float:left;left:13px;position:absolute;bottom:4px;}
.play {float:left;left:13px;position:absolute;bottom:4px;}
.start {float:left;position:absolute;left:51px;bottom:1px;}
.rewind {float:left; left:85px;position:absolute;bottom:1px;}
.forward {float:left; left:119px;position:absolute;bottom:1px;}
.end {float:left; left:153px;position:absolute;bottom:1px;}

.sbut > img {height: 27px;
width: 31px;}

.pause > img {
height: 27px;width: 31px;
}
.resbut > img {
height: 27px;width: 31px;
}
.play > img {
height: 27px;
}
.start > img {
height: 27px;
}
.rewind > img {
height: 27px;
}
.forward > img {
height: 27px;
}
.end > img {
height: 27px;
}
}
