
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
} 
code b{color: #000;} 
code span{
	background: #FACCA8;
	display: inline-block;
	width: 100%;
}

#ID_s1_staticTxt1 code{  
	font-size: 10px;
    line-height: 12px;
    white-space: pre;
    word-spacing: 0.2px;
}

#ID_s2_staticTxt1 code{  
	font-size: 10px;
    line-height: 13px;
    white-space: pre;
    word-spacing: 0.2px;
}
#ID_s3_staticTxt1 code{  
	font-size: 10px;
    line-height: 13px;
    white-space: pre;
    word-spacing: 0.2px;
}
