
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
/*#ID_table01 table { width:100% !important;}*/

#ID_table{width:446px;border:2px solid #918F90;border-bottom:none;font-size:11px;margin:0 0 0 0px;padding:0;}
#ID_table table{width:100%;}
#ID_table table tr td{border-bottom:2px solid #918F90;padding:2px 4px}
#ID_table table tr td.colOne{width:30px}
#ID_table table tr td.colTwo{padding-left:10px}#letters{font-family:Arial;}

table.table1{width:455px;font-family:"Courier New" !important; font-size:11px; font-weight:normal;letter-spacing: -0.5px; }
div.col1{width:40px;text-align:center}
div.col2{width:250px;text-align:left;padding:0 0 0 19px}
div.col3{width:141px;text-align:left;padding:0 0 0 0px}
#staticTxt1{font-weight:bold;}

	
