
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden !important;
}
#flashContent {
	width:98%;
	height:98%;
}


.greenout{background:#cce9e7;
border:2px solid #00918e;
border-radius:5px;
padding:5px;}

#ID_txt06,#ID_txt02,#ID_txt06,#ID_txt10,#ID_txt11,#ID_txt08,#ID_txt14,#ID_txt13{line-height:10px !important;}
#ID_txt13{letter-spacing:-.2px;}
#ID_txt07{width:165px !important;}
#ID_txt01{width:155px !important;}

