
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2
{
padding-left:5px !important;
letter-spacing: -.7px;	
}
.newwid{width:50% !important;}
.newwidn{width:50% !important;}