
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_txt01
{line-height:11.5px;}
#ID_s5_txt01
{
padding-left:3px;margin-top:2px;	
}
#ID_s5_txt01 span
{
	padding-left:8px;
}
#ID_s6_txt01
{
padding-left:3px;margin-top:2px;	
}
#ID_s6_txt01 span
{
	padding-left:8px;
}
#ID_s7_txt01
{
padding-left:3px;margin-top:2px;	
}
#ID_s7_txt01 span
{
	padding-left:8px;
}

#ID_s5_txt01, #ID_s6_txt01, #ID_s7_txt01{letter-spacing:-0.2px;}

