
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_Table_01, #ID_s2_Table_01, #ID_s3_Table_01, #ID_s4_Table_01, #ID_s5_Table_01{
	min-height:330px;
	border-radius:0px !important;
	width:269px !important;
	box-shadow:none !important;
	font-size:11px !important;
	line-height:14px;
	
}
.mtitle { background-color:#0E6360 !important;}
span {font-size: 17px;}
#liner { line-height:28px;}
#liner td{font-size:10px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#ID_s1_Table_01, #ID_s2_Table_01, #ID_s3_Table_01, #ID_s4_Table_01, #ID_s5_Table_01{
	position:relative; left:2px !important;
}
}
