
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt04,#ID_txt05{background:#ffffff !important;line-height:12px;}

#ID_txt06,#ID_txt07,#ID_txt08,#ID_txt09,#ID_static_3,#ID_txt12 {background-color:#FFF;}