
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}



#canvasId,#canvasId_{height:128px !important;overflow-y:hidden;}
#ID_s3_txt13,#ID_s3_txt11{width:50px !important;background-color:#ffffff!important;}
mark{background-color:#FACCA8}


