
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.orange{background-color:#ECA654 !important;}

#s2_router_txt01{margin-left:-13px !important;}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  #s2_router_txt01{margin-left:-8px !important;}
  .color{letter-spacing:.65px;}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #s2_router_txt01{margin-left:-8px !important;}
  .color{letter-spacing:.65px;}
  
}

#ID_SC3_prompt_1{letter-spacing:-0.5px}