
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:100%;
}
#flashContent {
    width:98%;
    height:98%;
   
}

.fontsize13{font-size:13px;}
#ID_txt02 font,#ID_osi_header font, #ID_tcpip_header font{font-size:13px !important;}
