
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt1,#ID_router_txt2{padding-left:4px !important;letter-spacing: -.3px;}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  li{margin-left:5px}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  li{margin-left:5px}
}