
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt01 {
    background: none repeat scroll 0 0 #CCE9E7;
    border: 2px solid #33A7A4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 5px #787878;
    padding-left: 7px;
}
#ID_txt01 li
{
padding-left:5px;
margin-left:18px;	
}
