
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s1_title,#ID_s2_title,#ID_s3_title,#ID_s4_title,#ID_s5_title,#ID_s6_title,#ID_s7_title{font-size:13px !important;}