
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
@media only screen and (device-width: 768px) {
#ID_router_txt1{
margin-left:3px !important;
}
#ID_router_txt2{
margin-left:3px !important;
}
}
#ID_router_txt3{letter-spacing:-0.5px !important;}