
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt05 span{
	padding-left: 12px; 
}

#ID_txt06{line-height: 12px;}


#ID_txtTable table{height: 85px!important; width: 450px!important;}
#ID_txtTable{background-color:#C1ABD1;border-radius:5px;border:1px solid #C1ABD1 !important; box-shadow: 0 0 2px 2px #999999 !important;}
#ID_txtTable tr td{padding:1px 3px; font-size:11px !important; }
#ID_txtTable tr td.liner_top{line-height:.3; margin: 0;padding: 0;background-color: #402450!important;}
font {font-size:11px !important;}
#ID_txtTable tr td font b{font-size:11px !important; }

