
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;

}

.greenBg{
padding:2px 0 3px 3px;
background:#46A040;
}
.brownBg{
padding:2px 0 3px 3px;
background:#CB6D25;
}
.lightGreenBg{
padding:2px 0 3px 3px;
background:#A2AA23;
}
.greyBg{
padding:2px 0 3px 3px;
background:#918F90;
}
.purpleBg{
padding:2px 0 3px 3px;
background:#652C8A;
}

