
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.orange {width:395px !important; position:relative; left:-1.5px; padding-left:1px;}
#ID_s2_txt19 {line-height:10px;}
#ID_r3_txt01{padding-left:3px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.orange {width:408px !important;position:relative; left:-2px; padding-left:2px;}
	}