
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}
.darkGreenCallOut{
border:2px solid #7C6D34;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#A2AA23;
}
.redCallOut{
border:2px solid #821729;
border-radius:5px;
-moz-border-radius:5px; /* Firefox 3.6 and earlier */
-webkit-border-radius:5px;
-khtml-border-radius:5px;
padding:2px 0 3px 3px;
background:#DC7183;
}
#ID_static_1{letter-spacing:1.3px !important;}
#ID_static_3{letter-spacing:1.5px !important;}
#ID_static_6{letter-spacing:1.6px !important;}
#ID_static_4{letter-spacing:1.3px !important;}
#ID_static_2{letter-spacing:1px !important;}