
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
code{white-space:pre;}
#txt01,#txt02,#txt03,#txt04,#txt05{padding-left:2px;line-height:14px;letter-spacing:-.5px;margin-top:1px;}
#txt02 span{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 0 0 0 -14px;
    padding: 0 0 0 16px;
    width: 96.5%;}
#txt05 span{background: none repeat scroll 0 0 #FACCA8;
    display: inline-block;
    margin: 0 0 0 -14px;
    padding: 0 0 0 13px;
    width: 100%;}
