
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s4_txt01,#ID_s5_txt01,#ID_s6_txt01,#ID_s8_txt01
{
padding-left:4px !important;
line-height:15px;	
margin-top:1px;
}
#ID_s5_txt01{line-height:15px;padding-left:2px;}
#ID_s5_txt01 span{padding-left:6px;}
.space{padding-left:3px;display:inline;}
#ID_s6_txt01 span{padding-left:6px;}
.space1{width:99%;float:left;background:#facca8;display:inline;}
.space2{padding-left:6px;display:inline;}
#ID_s7_txt01
{
line-height:14px;padding-left:4px !important;margin-top:1px;
}
#commonMediaText>div{letter-spacing:-.5px !important;}
#ID_s1_title,#ID_s2_title,#ID_s3_title,#ID_s4_title{letter-spacing:0px !important;}
code{white-space:pre;}