
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ima1
{
	left: 366px;
    position: absolute;
    top: 2px;
}
#ima2
{
	left: 282px;
    position: absolute;
    top: 43px;
}
#ima3
{
	left: 130px;
    position: absolute;
    top: 30px;
}
#ima4
{
	left: 323px;
    position: absolute;
    top: 98px;
}
@media only screen and (device-width: 768px) {
#ima1
{
	left: 346px;
    position: absolute;
    top: 2px;
}
#ima2
{
	left: 266px;
    position: absolute;
    top: 43px;
}
#ima3
{
	left: 123px;
    position: absolute;
    top: 29px;
}
#ima4
{
	left: 304px;
    position: absolute;
    top: 98px;
}
#ID_s3_txt01
{ 
    margin-left:-8px;
}
}
#ID_txt01 {letter-spacing:-0.1px !important;}