
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_r2_txt01 {word-spacing:-1px;}
#ID_s2_txt01 li {margin-left:1.5em;}
