
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_s5_txt01,#ID_s6_txt01
{
margin-top:3px;padding-left:3px;line-height:12px;	
}
#ID_s7_txt01{margin-top:3px;padding-left:3px;line-height:13px;overflow-y:auto !important;height:326px !important;}
.space1{padding-left:10px;}
.space2{padding-left:19px;}
.color{background: none repeat scroll 0 0 #FACCA8;float: left;margin: 0 0 0 -1px;width: 97%;}
.space3{padding-left:34px;}
.space4{padding-left:34px;}
.space5{padding-left:34px;}


.orange{
	display: block;
	width: 100%;
}