
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_s1_txt01 {font-family:"Courier New" !important;}
#ID_s1_txt01 span.wider { margin-left:15px;}
#ID_s1_txt01 span { background-color:#FACCA8 !important;}
#ID_s2_txt01 {font-family:"Courier New" !important; line-height:14px;}