
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_static_2{
	letter-spacing:-0.3px;
}
/*.purpleCallOut { padding: 2px 3px 3px !important;}*/