
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#cmdText01, #cmdText02, #cmdText03{ color:#F68026 !important; font-weight:bold;}
#texLh {line-height:13px;}