
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%; 
	overflow:hidden;
}
#flashContent {
	width:98%;
	height:98%;
}

font[face=_typewriter] { 
	font-family: "Courier New";
}

#ID_s1_table01 {
	line-height: 12px;
}
#slide_2 #ID_s2_txt07{
    max-height: 108px;
    overflow-y: scroll;
    z-index: 100; 
}

#ID_SC4_prompt_0 {
    letter-spacing: -1.9px;
    width: 328px !important;
}
font[size="6"], font[size="6"] b {font-size:6px;}
font[size="7"], font[size="7"] b {font-size:7px;}
font[size="8"], font[size="8"] b {font-size:8px;}
font[size="9"], font[size="9"] b {font-size:9px;}
font[size="10"], font[size="10"] b {font-size:10px;}
font[size="11"], font[size="11"] b {font-size:11px;}

.margin-top{
	/*margin-top:-3px;*/
	margin-left:2px;
}

.mtable tr td {
    border: 3px solid #98D3D1;
    margin: 0;
    padding: 2px 3px;
    vertical-align: top !important;
}